// ==========================================================================
// Layout / Header
// ==========================================================================


.header {
  height: 48px;
  z-index: $zindex-menu;
  position: relative;

  background-color: $color-white;


  // Large Screens

  @include mq(lg) {
    height: 56px;
  }
}


.header__logo {
  position: absolute;
  display: block;
  width: 200px;

  @include mq(md) {
    width: 240px;
  }
}
