// ==========================================================================
// Layout / Header
// ==========================================================================


.header {
  height: 48px;
  z-index: $zindex-menu;
  position: relative;

  background-color: $color-white;


  // Large Screens

  @include mq(md) {
    height: 56px;
  }
}


.header__logo {
  position: absolute;
  display: block;
  width: 200px;

  transition: transform 0.2s ease-out;

  @include mq(md) {
    width: 240px;
  }

  @include mq(lg) {
    z-index: $zindex-menu-on-top;
  }
  
  &:hover,
  &:focus-visible {
    transform: rotate(-2deg);
  }
}
