// ==========================================================================
// Layout / Main
// ==========================================================================


// .main {
//   position: relative;
//   min-height: 100vh;
//   display: flex;
//   flex-direction: column;

//   .content {
//     flex-grow: 1;
//   }
// }


.main__header {
  margin-bottom: 80px;

  @include mq(lg) {
    margin-bottom: 120px;
  }

  &--margin-tight {
    margin-bottom: 40px;

    @include mq(lg) {
      margin-bottom: 60px;
    }
  }
}


.main__contents {
  margin-bottom: 80px;

  @include mq(lg) {
    margin-bottom: 120px;
  }
}