// ==========================================================================
// Components / Featured Article
// ==========================================================================


.article-featured__article {
  color: $color-black;

  @include breakpoint(lg) {
    display: grid;
    grid-template-columns: repeat( 5, 1fr );
    gap: 32px;
  }
}





// Text Content
// ====================================


.article-featured__picture-wrapper {
  @include breakpoint(lg) {
    grid-area: 1/1/1/4;
  }
}


.article-featured__picture {
  margin-bottom: 16px;
  @include ratio-image(16,9,cover);
}





// Text Content
// ====================================


.article-featured__content {
  margin-bottom: 16px;

  @include breakpoint(md) {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  @include breakpoint(lg) {
    grid-area: 1/4/1/6;
  }
}


.article-featured__text {
  margin-bottom: 16px;
}


.article-featured__section {
  margin-bottom: 8px;

  @include font-display-regular;
  font-size: 14px;
  text-transform: uppercase;
  letter-spacing: 0.05em;
  color: $color-black-700;
}


.article-featured__title {
  margin-bottom: 8px;
  
  @include font-display-bold;
  font-size: 32px;
  line-height: 1.125;
  letter-spacing: -0.025em;

  transition: color 0.2s ease-in-out;

  .article-featured:hover & {
    color: $color-purple;
  }
}


.article-featured__details {
  @include font-display-regular;
  color: $color-purple;
  font-size: 20px;
  line-height: 1.4;
  font-style: normal;
}


.article-featured__date,
.article-featured__credits {
  display: block;
  color: inherit;
  font-style: inherit;
}


.article-featured__read-more {
  display: inline-flex;
  align-items: center;
  justify-content: flex-start;
  gap: 8px;

  color: $color-black-700;

  transition: transform 0.2s ease-out;

  img {
    width: 18px;
  }

  .article-featured:hover & {
    transform: translateX(8px);
  }
}