// ==========================================================================
// Layout / Section
// ==========================================================================


.colored-section {
  padding: 80px 0;

  text-align: center;


  &__title {
    margin-bottom: 16px;

    .block {
      transform: rotate(-2deg);
    }
  }


  &__contents {
    font-size: 20px;
  }


  // Colors

  &--yellow {
    background-color: $color-yellow;
    @include background-emoji(on-yellow);
    @include border-top-large($color-yellow-dark);
    @include border-bottom-large($color-yellow-dark);
  }

  &--grey {
    background-color: $color-grey-200;
    @include background-emoji(on-grey);
    @include border-top-large($color-grey-300);
    @include border-bottom-large($color-grey-300);
  }
}