// ==========================================================================
// Components / Hero Picture
// ==========================================================================



.hero-picture {
  position: relative;
  height: 50vh;

  
}


.hero-picture__img {
  position: absolute;
  @include inset;

  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}