// ==========================================================================
// Components / Hero with yellow emoji background
// ==========================================================================


.hero-yellow {
  min-height: 200px;
  //margin-bottom: 80px;

  background-color: $color-yellow;
  @include background-emoji(on-yellow);
  @include border-bottom-large($color-yellow-dark);


  @include breakpoint(lg) {
    min-height: 240px;
  }
}