// ==========================================================================
// Components / List Bullets Colored
// ==========================================================================


.list-bullets-colored {

    padding-left: 24px;

    li {
        position: relative;
        margin-bottom: 32px;
        
        &::before {
            content: '';
            display: block;
            width: 16px;
            height: 16px;
            border-radius: 50%;

            position: absolute;
            top: 2px;
            left: -24px;
        }
    }

    li:nth-of-type( 4n + 1 ) {
        &::before {
            background-color: $color-orange;   
        }
    }

    li:nth-of-type( 4n + 2 ) {
        &::before {
            background-color: $color-teal;
        }
    }

    li:nth-of-type( 4n + 3 ) {
        &::before {
            background-color: $color-blue;
        }
    }

    li:nth-of-type( 4n + 4 ) {
        &::before {
            background-color: $color-purple
        }
    }

    li:last-of-type {
        margin-bottom: 0;
    }
}