// ==========================================================================
// Layout / Main
// ==========================================================================


.main__header {
  margin-bottom: 80px;

  @include mq(lg) {
    margin-bottom: 120px;
  }

  &--margin-tight {
    margin-bottom: 40px;

    @include mq(lg) {
      margin-bottom: 60px;
    }
  }

  // Without a hero image
  &--no-hero {
    position: relative;
    padding-top: 80px;

    &::before {
      content: '';
      display: block;
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 80px;

      background: linear-gradient( $color-black-200, $color-background );
    }
  }

}


.main__contents {
  margin-bottom: 80px;

  @include mq(lg) {
    margin-bottom: 120px;
  }
}