// ==========================================================================
// Components / Menu Toggle
// ==========================================================================


.menu-toggle {
  width: 48px;
  height: 48px;
  position: fixed !important; // Clash with block-connector
  top: 1rem;
  right: 1rem;

  color: $color-white;
  background-color: $color-black;
  border-radius: 2px;  
  line-height: 0;
  @include block-connector;
  
  z-index: $zindex-menu-toggle;

  &:hover {
    cursor: pointer;
  }


  // Icons show/hide

  &__icon--hide {
    opacity: 0;
  }

  &--is-visible {

    .menu-toggle__icon--show {
      opacity: 0;
    }
    .menu-toggle__icon--hide {
      opacity: 1;
    }
  }


  // Hide

  @include breakpoint(xl) {
    display: none;
  }
}


.menu-toggle__icon {
  width: 100%;
  height: 100%;
  position: absolute;

  display: flex;
  align-items: center;
  justify-content: center;

  transition: opacity 0.3s ease-out;
}
