// ==========================================================================
// Components / Modal
// ==========================================================================


.modal {
    position: fixed;
    bottom: 16px;
    right: 16px;
    z-index: $zindex-modals;

    width: calc( 100vw - 32px );

    @include background-emoji(on-yellow);
    background-color: $color-yellow;
    border-radius: 8px;
    border: 8px solid $color-yellow-dark;
    @include shadow-light;

    color: $color-black;

    @include mq(md) {
        width: auto;
        max-width: 75%;
    }

    @include mq(lg) {
        max-width: 50%;
    }
}


.modal__close {
    position: absolute;
    top: -24px;
    right: 8px;
    

    color: $color-white;
    background-color: $color-black;
    border-radius: 50%;
    padding: 12px;
    line-height: 0;

    transition: all 0.2s ease-out;

    &:hover,
    &:focus-visible {
        cursor: pointer;
        top: -28px;
    }
}


.modal__content {
    overflow: hidden;
}


.modal__content-text {
    padding: 32px;
}


.modal__content-image {
    line-height: 0;

    img {
        display: block;
    }
}


.modal__title {
    padding-right: 32px;
    
    @include font-display-bold;
    font-size: 24px;
    line-height: 1;
    margin-bottom: 24px;
}