// ==========================================================================
// Components / Next Steps
// ==========================================================================


.next-steps {
    padding-bottom: 56px;

    text-align: center;
    background-color: $color-grey-200;
    @include background-emoji(on-grey);
    
    a:link,
    a:visited {
        color: unset;
    }
}


.next-steps__cards-wrapper {

    @include breakpoint(lg) {
        display: flex;
        justify-content: center;
    }
}


.next-steps__card {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-bottom: 40px;

    top: 0;
    transition: top 0.2s ease-out;
    
    &:hover,
    &:focus-visible {
        top: -16px;
    }

    @include breakpoint(lg) {
        width: 32%;
        padding: 0 20px;
    }
}


.next-steps__picture {

    img {
        width: 200px;
    }
}


.next-steps__link-title {
    margin-bottom: 8px;

    @include font-display-bold;
    font-size: 28px;
    letter-spacing: -1px;
}


.next-steps__text {
    margin-bottom: 16px;

    p {
        color: $color-grey-700;
        line-height: 1.2;
    }
}


.next-steps__circle {    
    display: flex;
    justify-content: center;
}