// ==========================================================================
// Tools / Our Mission
// ==========================================================================


.our-mission {
    margin-bottom: 40px;
    padding: 56px 0;
}


.our-mission__items-wrapper {
    display: grid;
    grid-template: 1fr / 1fr;
    gap: 32px;

    @include mq(md) {
        grid-template: 1fr / repeat(2, 1fr);
    }

    @include mq(xl) {
        grid-template: 1fr / repeat(4, 1fr);
    }
}



// Item
// ==========================================================================

.our-mission__item {
    display: flex;
    
}


.our-mission__index {
    margin-right: 12px;
    @include font-display-bold;
}


.our-mission__item-title {
    margin-bottom: 8px;

    @include font-display-bold;
    font-size: 32px;
    line-height: 32px;
    letter-spacing: -1px;
}


.our-mission__item-text {

}