// ==========================================================================
// Layout / Section
// ==========================================================================


.section {
  padding-top: 64px;
  padding-bottom: 80px;

  &:first-of-type {
    padding-top: 32px;
  }

  &:last-of-type {
    padding-bottom: 40px;
  }
}