// ==========================================================================
// Components / Tabs
// ==========================================================================


.tabs {
    padding: 40px 0 16px 0;
    margin-bottom: 100px;
    background: $color-grey-200;
    
    &--orange {
        border-top: 1px solid $color-orange;
        border-bottom: 1px solid $color-orange;

        .tabs__index,
        .tabs__button {
            background-color: $color-orange;
        }
        .tabs__scroll-helper {
            color: $color-orange;
        }
    }

    &--teal {
        border-top: 1px solid $color-teal;
        border-bottom: 1px solid $color-teal;

        .tabs__index,
        .tabs__button {
            background-color: $color-teal;
        }
        .tabs__scroll-helper {
            color: $color-teal;
        }
    }

    &--purple {
        border-top: 1px solid $color-purple;
        border-bottom: 1px solid $color-purple;

        .tabs__index,
        .tabs__button {
            background-color: $color-purple;
        }
        .tabs__scroll-helper {
            color: $color-purple;
        }
    }
}



// Tab Header
// ==========================================================================


.tabs__header {
    position: relative;
}


.tabs__index {
    position: absolute;
    top: -56px;
}


// Scroll Helper
// ==========================================================================


.tabs__scroll-helper {
    margin-bottom: 8px;

    font-size: 14px;
    font-weight: 700;
    text-align: right;
    
    span {
        color: $color-grey-900;
    }

    @include breakpoint(sm) {
        display: none;
    }
}



// Scroll Helper
// ==========================================================================


.tabs__intro p {
    font-size: 1.2rem;
    letter-spacing: -0.5px;
    line-height: 1.4;
    margin: 0 0 1.5rem 0;
}



// Buttons
// ==========================================================================


.tabs__buttons-list {
    display: flex;
    flex-wrap: nowrap;
    overflow-x: scroll;
    overflow-y: hidden;

    height: 40px;
    padding: 0 calc(var(--bs-gutter-x));

    overflow-scrolling: touch;
    -webkit-overflow-scrolling: touch;


    // Adapting size to screens
    // Due to 100% width container for mobile

    @include breakpoint(sm) {
        margin: 0 auto;
        overflow-x: visible;
    }

    @include breakpoint(md) {
        width: 720px;        
    }

    @include breakpoint(lg) {
        width: 960px;        
    }

    @include breakpoint(xl) {
        width: 1140px;        
    }

    @include breakpoint(xxl) {
        width: 1320px;        
    }
}


.tabs__button {
    display: block;
    height: 40px;
    flex-shrink: 0;
    margin-right: 8px;
    padding: 12px 16px 24px 16px;
    border: none;
    border-radius: 2px 2px 0 0;

    @include font-display-bold;
    color: $color-white;
    line-height: 16px;

    transition: all 0.2s ease-out;

    &:hover,
    &:focus-visible {
        cursor: pointer;
        color: $color-white;
        background-color: $color-grey-900;
    }

    &--active {
        color: $color-grey-900 !important;
        background-color: $color-white !important;
        @include shadow-tight;
    }


    @include breakpoint(md) {
        font-size: 20px;
        padding: 12px 20px;
    }
}



// Tab Contents
// ==========================================================================


.tabs__contents-wrapper {
    padding: 56px 0 40px 0;

    background-color: $color-white;
    @include shadow-tight;
}


.tabs__tab-content {
    display: none;

    &--visible {
        display: block;
    }
}


.tabs__tab-picture {
    display: block;
    margin-bottom: 2rem;
    line-height: 0;

    @include breakpoint(lg) {
        margin-bottom: 0;
    }
}