// ==========================================================================
// Components / Tabs
// ==========================================================================


.tabs {
    padding: 56px 0 24px 0;
    margin-bottom: 60px;
    background: $color-black-200;
    
    &--orange {
        .tabs__button {
            background-color: $color-orange;
        }
        .tabs__scroll-helper {
            color: $color-orange;
        }
    }

    &--teal {
        .tabs__button {
            background-color: $color-teal;
        }
        .tabs__scroll-helper {
            color: $color-teal;
        }
    }

    &--purple {
        .tabs__button {
            background-color: $color-purple;
        }
        .tabs__scroll-helper {
            color: $color-purple;
        }
    }
}



// Scroll Helper
// ==========================================================================


.tabs__scroll-helper {
    margin-bottom: 8px;

    font-size: 14px;
    font-weight: 700;
    text-align: right;
    
    span {
        color: $color-black;
    }

    @include mq(sm) {
        display: none;
    }
}



// Buttons
// ==========================================================================


.tabs__buttons-list {
    display: flex;
    flex-wrap: nowrap;
    overflow-x: scroll;
    overflow-y: hidden;

    height: 40px;
    padding: 0 calc(var(--bs-gutter-x));

    overflow-scrolling: touch;
    -webkit-overflow-scrolling: touch;


    // Adapting size to screens
    // Due to 100% width container for mobile

    @include mq(sm) {
        margin: 0 auto;
        overflow-x: visible;
    }

    @include mq(md) {
        width: 720px;        
    }

    @include mq(lg) {
        width: 960px;        
    }

    @include mq(xl) {
        width: 1140px;        
    }

    @include mq(xxl) {
        width: 1320px;        
    }
}


.tabs__button {
    display: block;
    height: 40px;
    margin-right: 8px;
    padding: 12px 16px 24px 16px;
    border: none;
    border-radius: 2px 2px 0 0;

    @include font-display-bold;
    color: $color-white;
    line-height: 16px;

    transition: all 0.2s ease-out;

    &:hover {
        cursor: pointer;
        color: $color-white;
        background-color: $color-black;
    }

    &--active {
        color: $color-black !important;
        background-color: $color-white !important;
    }


    @include mq(md) {
        font-size: 20px;
        padding: 12px 20px;
    }
}


.tabs__contents-wrapper {
    padding: 56px 0 40px 0;

    background-color: $color-white;
}


.tabs__tab-content {
    display: none;

    &--visible {
        display: block;
    }
}