// ==========================================================================
// Components / Title Line
// ==========================================================================


.title-line {
    display: flex;
    align-items: center;

    position: relative;
    margin: 0 0 32px 0;

    @include font-display-bold;
    text-transform: uppercase;

    span {
        display: block;
        margin-right: 12px;
    }

    &::after {
        content: '';
        display: block;
        width: 10%;
        height: 1px;

        flex-grow: 1;

        background-color: $color-grey-300;
    }
}