// ==================================================
// Components / Wysiwyg
// ==================================================


.wysiwyg {

  line-height: 1.4;
  margin: 0 0 4rem 0;


  // Headings
  // ==================================================

  h2 {

  }


  // Paragraphs
  // ==================================================

  p {
    font-size: 1.25rem;
    letter-spacing: -0.25px;
    margin: 0 0 1.65rem 0;

    &:last-of-type {
      //margin: 0;
    }

    @include mq(md) {
      font-size: 1.5rem;
      margin: 0 0 2rem 0;
    }

    strong {
      @include font-regular-bold;
    }
  }


  p.small {
    font-size: 1rem;
    margin: 0 0 1rem 0;

    @include mq(md) {
      font-size: 1rem;
      margin: 0 0 1.5rem 0;
    }
  }


  // Links
  // ==================================================

  a:link,
  a:visited {
    // color: $color-green;
    // border-bottom: 2px solid $color-green;
    // transition: all 0.2s ease-in;
  }

  a:hover {
    //border-bottom: 2px solid $color-background;
  }


  // Lists
  // ==================================================

  ul {
    margin: 0 0 1.65rem 0;

    @include mq(md) {
      margin: 0 0 2rem 0;
    }
  }

  ul li {
    position: relative;
    font-size: 1.25rem;
    letter-spacing: -0.25px;
    margin: 0 0 0.25rem 0;
    padding: 0 0 0 0.85rem;

    @include mq(md) {
      font-size: 1.5rem;
      margin: 0 0 0.5rem 0;
    }

    &::before {
      content: '';
      display: block;
      width: 0.45rem;
      height: 0.45rem;

      position: absolute;
      top: 10px;
      left: 0;

      // background-color: $color-green;
      border-radius: 50%;

      @include mq(md) {
        top: 13px;
      }
    }
  }

}
