// ==================================================
// Components / Wysiwyg
// ==================================================


.wysiwyg {

  color: $color-black-700;


  // Headings
  // 
  // h4 is the chosen element to be used as title inside text blocks
  // ==================================================

  h4 {
    font-size: 1.2rem;
    line-height: 1.4;
    font-weight: 700;
    color: $color-black;


    margin: 0 0 1.5rem 0;
  }

  // Paragraphs 
  //
  // text-sm:   14px/1.4 on desktop
  // *normal*:  16px/1.4 on desktop
  // text-md:   20px/1.4 on desktop
  // text-lg:   32px/1.2 on desktop
  //
  // ==================================================

  p {
    font-size: 1rem;
    line-height: 1.4;
    margin: 0 0 1.5rem 0;


    // Sizes

    &.text-sm {
      font-size: 0.875rem;
    }  
  
    &.text-md {
      font-size: 1.2rem;
      letter-spacing: -0.5px;
    }  
  
    &.text-lg {
      font-size: 1.75rem;
      line-height: 1.2;
      letter-spacing: -1px;
  
      @include mq(lg) {
        font-size: 2rem;
        margin: 0 0 2rem 0;
      }
    }
  }



  // Links
  // ==================================================


  p, li {

    a:link,
    a:visited {
      color: $color-black;
      text-decoration: underline;
      transition: color 0.2s ease-out;
    }
  
    a:hover,
    a:focus-visible {
      color: $color-purple;
    }
  }


  
  // Lists
  // ==================================================


  ul {
    margin: 0 0 1.5rem 0;

    &.text-lg {
      font-size: 20px;
    }
  }


  ul li {
    position: relative;
    margin: 0 0 8px 0;
    padding: 0 0 0 16px;

    &::before {
      content: '';
      display: block;
      width: 6px;
      height: 6px;

      position: absolute;
      top: 10px;
      left: 0;

      background-color: $color-black-700;
      border-radius: 50%;
    }    
  }



  // Formatters
  // ==================================================


  strong {
    @include font-regular-bold;

    // Italics not used, commented in tools/fonts
    //
    // i {
    //   @include font-regular-bold-italic;
    // }
  }

  // I talics not used, commented in tools/fonts
  //
  // i {
  //   @include font-regular-italic;
  // }


  small {
    font-size: 80%;
  }



  // Exceptions
  // ==================================================


  & > :last-child {
    margin-bottom: 0 !important;
  }


  &--center {
    text-align: center;
  }


  // unify
  &--black,
  .text-black {
    color: $color-black;
  }
}
