<div id="{{id}}" class="tabs tabs--{{color}}">

    <!-- Intro -->
    <div class="container u_mb-4">
        <div class="row">
            <div class="col-12 col-lg-4">
                <h2 class="section-title">
                    {{tabs-title}}
                </h2>
            </div>
            <div class="col-12 col-lg-8">
                <div class="wysiwyg">
                    <p class="text-md">{{#markdown markdown}}{{/markdown}}</p>
                </div>
            </div>
        </div>
    </div>


    {{!-- Scroll Helper --}}
    <div class="container tabs__scroll-helper">
        <div class="row">
            <div class="col-12">
                <div class="_tabs__scroll-helper">
                    <span>scroll</span>
                    {{> svg.icon-arrow-right }}
                </div>
            </div>
        </div>
    </div>

    <!-- Tabs -->
    <div class="tabs__container tabs--orange">

        <div class="tabs__buttons-list" role="tablist" aria-label="{{tabs-title}} tabs">
            {{#> tab-buttons }}{{/tab-buttons }}
        </div>

        <div class="tabs__contents-wrapper">
            {{#> tabbed-content }}{{/tabbed-content }}
        </div>
    </div>

</div>
