{{! About }}

{{#> layouts._html-shell 
    title="About" 
    pageClass="page-about"
    pageUrl="https://wwww.microblocks.fun/about"
    pageDescription="We aim to make MicroBlocks the most intuitive and engaging tool for physical computing imaginable, and to create a global community of learners and educators around it."
}}

{{#*inline "main-content"}}

<!-- Header -->
<header class="main__header">


    <!-- Hero -->
    <div class="hero-picture">
        <picture class="hero-picture__img">
            <source media="(min-width: 768px)" srcset="assets/img/pictures/about-1920x560.jpg">
            <source media="(max-width: 767px)" srcset="assets/img/pictures/about-960x540.jpg">
            <img src="assets/img/picture/about-1920x560.jpg" alt="Hands connecting wires to a board" />
        </picture>
    </div>


    <div class="container">

        <!-- Title -->
        <div class="row">
            <div class="col">
                <h1 class="title-blocks">
                    <span class="block block--blue">关于</span>
                    <span class="block block--purple">MicroBlocks</span>
                </h1>
            </div>
        </div>

        <!-- Intro -->
        <div class="row">
            <div class="col col-lg-10">
                <div class="page-header__intro wysiwyg">
                    <p class="text-lg">我们的目标是让 MicroBlocks 成为最直观、最吸引人的物理计算工具，并围绕它创建一个全球学习者和教育者社区。</p>
                    <p class="text-md">查看我们的<a href="about#team">团队</a>,  <a
                            href="about#collaborators">合作方</a> 和 <a
                            href="about#ambassadors">推广者</a> 或者 <a href="about#contact">联系我们</a>。</p>
                    <p class="text-md">你目前所在的这个网站, 是 MicroBlocks 的中文主页, 归非营利组织 <a href="https://microblocks.fun" target="_blank">MicroBlocks</a> 所有, 由<a href="https://wwj718.github.io" target="_blank">种瓜</a>代为运营。为解决网络稳定性问题、丰富中文资料、并方便中文用户交流和贡献，我们建立了这个网站。它的使命是 <b>分享与传播 MicroBlocks, 服务 MicroBlocks 中文用户</b>。我们的所有工作都是开放的: <a href="https://github.com/MicroBlocksCN" target="_blank">MicroBlocksCN</a>，欢迎你参与进来。</p>
                </div>
            </div>
        </div>

    </div>


</header>
<!-- Header -->


<!-- Contents -->
<div class="main__contents">


    <!-- Mission -->
    <div id="#our-mission" class="our-mission bg-white border-color">
        <div class="container">
            <article class="row">

                <header class="col-12">
                    <h2 class="title-line"><span>我们的使命</span></h2>
                </header>
    
                <main class="col-12">
                    <div class="our-mission__items-wrapper">

                        <div class="our-mission__item">
                            <div class="our-mission__index">
                                <div class="circle circle--orange">
                                    1
                                </div>
                            </div>
                            <div class="our-mission__contents">
                                <h3 class="our-mission__item-title">
                                    帮助
                                </h3>
                                <div class="our-mission__item-text">
                                    <div class="wysiwyg">
                                        帮助全球各地的学生与富有好奇心、创造力的创客们发现物理计算的乐趣。
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="our-mission__item">
                            <div class="our-mission__index">
                                <div class="circle circle--purple">
                                    2
                                </div>
                            </div>
                            <div class="our-mission__contents">
                                <h3 class="our-mission__item-title">
                                    赋能
                                </h3>
                                <div class="our-mission__item-text">
                                    <div class="wysiwyg">
                                        使教育工作者能够创建引人入胜的高质量 STEM/STEAM 学习体验。
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="our-mission__item">
                            <div class="our-mission__index">
                                <div class="circle circle--teal">
                                    3
                                </div>
                            </div>
                            <div class="our-mission__contents">
                                <h3 class="our-mission__item-title">
                                    启发
                                </h3>
                                <div class="our-mission__item-text">
                                    <div class="wysiwyg">
                                        启发广泛的学习者，尤其是那些一开始不认为自己是潜在技术专家的学习者。
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="our-mission__item">
                            <div class="our-mission__index">
                                <div class="circle circle--blue">
                                    4
                                </div>
                            </div>
                            <div class="our-mission__contents">
                                <h3 class="our-mission__item-title">
                                    支持
                                </h3>
                                <div class="our-mission__item-text">
                                    <div class="wysiwyg">
                                        支持动手学习和创造性地解决问题。
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                </main>
    
            </article>
        </div>
    </div>
    <!-- Mission -->


    <!-- The Team -->
    <article id="team" class="container section">
        
        <header class="row border-top u_mb-4">

            <div class="col-12 col-md-4">
                <h2 class="section-title">团队</h2>
            </div>

            <div class="col-12 col-md-8">
                <div class="wysiwyg">
                    <p class="text-md">
                        我们的目标是让 MicroBlocks 成为最直观、最吸引人的物理计算工具，并围绕它创建一个全球学习者和教育者社区。
                    </p>
                </div>
            </div>

        </header>

        <main class="row">

            <svg width="0" height="0" viewBox="0 0 80 85">
                <clipPath id="teamMemberPath" clipPathUnits="objectBoundingBox">
                    <path d="M0.916409 0H0.0247678C0.0110889 0 0 0.011094 0 0.0247792V0.916828C0 0.930513 0.0110889 0.941607 0.0247678 0.941607H0.088106L0.112537 0.986974C0.12189 1.00434 0.151974 1.00434 0.161327 0.986974L0.185759 0.941607H0.916409C0.930088 0.941607 0.941176 0.930513 0.941176 0.916828V0.0247791C0.941176 0.011094 0.930088 0 0.916409 0Z"/>
                </clipPath>
            </svg>

            {{#each team}}
            {{>_team-member}}
            {{/each}}

        </main>

    </article>
    <!-- The Team -->


    <!-- Ambassadors -->
    <div id="ambassadors" class="container section">
        <article class="row border-top">

            <header class="col-12 col-md-4">
                <h2 class="section-title">推广者</h2>
            </header>

            <main class="col-12 col-md-8">
                <div class="row">

                    <div class="wysiwyg">
{{#markdown}}
MicroBlocks 的推广者负责 MicroBlocks 的推广工作。推广者们与创客、教育工作者、家长、图书馆及博物馆工作者——任何对学习物理计算感兴趣的群体接触，让他们了解到 MicroBlocks 是多么简单、有趣和吸引人。一旦有人表示对 MicroBlocks 感兴趣，推广者可以帮助他们开始学习、寻找资源（如活动卡），并与大家分享交流想法。

如果你愿意在国内某个地区推广 MircroBlocks，可通过邮箱 wuwenjie718@gmail.com 与我们联系。
{{/markdown}}
                    </div>

                </div>
            </main>

        </article>
    </div>
    <!-- Ambassadors -->


    <!-- Collaborators -->
    <div id="collaborators" class="section bg-grey border-color">
        <div class="container">
            <article class="row border-top">

                <header class="col-12 col-lg-4 u_mb-2">
                    <h2 class="section-title">合作方</h2>
                    <div class="wysiwyg">
                        <p class="_text-md">
                            此处所列的组织、项目和公司均为 MicroBlocks 的合作方。
                        </p>
                    </div>
                </header>
    
                <main class="col-12 col-lg-8">
                    <div class="logo-grid">
    
                        <div class="row justify-content-md-center u_mb-2">
                            {{#each collaborators}}
                            {{>_collaborator}}
                            {{/each}}
                        </div>

                        <div class="row justify-content-md-center">
                            <div class="col-12 col-md-10 col-xl-8">
                                <div class="wysiwyg">
                                    <p class="wysiwyg--center">
                                        MicroBlocks 还收到世界各地许多人的贡献。 <a href="https://wiki.microblocks.fun/contributors">查看完整列表</a>.
                                    </p>
                                </div>
                            </div>
                        </div>
    
                    </div>
                </main>
    
            </article>
        </div>
    </div>
    <!-- Collaborators -->


    <!-- Contact -->
    <div id="contact" class="section container">
        <article class="row border-top">

            <header class="col-12 col-md-4">
                <h2 class="section-title">联系我们</h2>
            </header>

            <main class="col-12 col-md-8">
                <div class="row">

                    <div class="col-12 col-lg-6 u_mb-2">
                        <h3 class="section-subtitle">报告问题</h3>
                        <div class="wysiwyg">
                            <p>
                                欢迎在我们的<a href="https://bitbucket.org/john_maloney/smallvm/issues" target="_blank">问题跟踪系统</a>上报告漏洞或提出功能需求。
                            </p>
                        </div>
                    </div>

                    <div class="col-12 col-lg-6">
                        <h3 class="section-subtitle">联系我们</h3>
                        <div class="wysiwyg">
                            <p>
                                有疑问或有合作意向？给我们发封邮件吧！
                                <p>interest@microblocks.fun (官方邮箱)</p>
                                <p>wuwenjie718@gmail.com (国内推广者邮箱)</p>
                            </p>
                        </div>
                    </div>

                </div>
            </main>

        </article>
    </div>
    <!-- Contact -->


</div>
<!-- Contents -->


{{/inline}}
{{/layouts._html-shell}}
