{{! Get Started }}

{{#> layouts._html-shell
    title="Blog"
    pageClass="page-blog"
    pageUrl="https://wwww.microblocks.fun/blog"
    _pageDescription="Latest news related with MicroBlocks."
}}

{{#*inline "main-content"}}

<!-- Header -->
<header class="main__header main__header--no-hero">

    <div class="container">

        <!-- Title -->
        <div class="row">
            <div class="col-12">
                <h1 class="title-blocks">
                    <span class="block block--purple">Latest</span>
                    <span class="block block--teal">News</span>
                </h1>
            </div>
        </div>

    </div>


</header>
<!-- Header -->


<!-- Contents -->
<div class="main__contents">

    <!-- Featured Article -->
    <article class="featured-article">
        <div class="container">
            <div class="row">

                <div class="col-12 offset-lg-2">
                    <picture class="featured-article__picture">
                        <source media="(min-width: 768px)" srcset="assets/img/pictures/contribute-1920x560.jpg">
                        <source media="(max-width: 767px)" srcset="assets/img/pictures/contribute-960x540.jpg">
                        <img src="assets/img/picture/contribute-1920x560.jpg" alt="Hands connecting wires to a board" />
                    </picture>
                </div>

                <div class="col-12">
                    <div class="featured-article__content">
                        <h2 class="featured-article__section">Featured Article</h2>
                        <h3 class="featured-article__title">The Robotistan Kickstarter heavily featured MicroBlocks.</h3>
                        <date class="featured-article__date">May 24th, 2022</date>
                    </div>
                    <a href="#" class="featured-article__read-more">
                        <div class="circle circle--purple">
                            <img src="assets/img/icons/icon-arrow-right.svg" alt="Link Arrow">
                        </div>
                        Read More
                    </a>
                </div>

            </div>
        </div>
    </article>

</div>
<!-- Contents -->

{{/inline}}
{{/layouts._html-shell}}
