{{! Contribute }}

{{#> layouts._html-shell 
    title="Contribute" 
    pageClass="page-contribute"
    pageUrl="https://wwww.microblocks.fun/contribute"
    _pageDescription="Latest release of MicroBlocks."
}}

{{#*inline "main-content"}}

  <!-- Header -->
  <header class="main__header">


    <!-- Hero -->
    <div class="hero-picture">
      <picture class="hero-picture__img">
        <source media="(min-width: 768px)" srcset="/assets/img/pictures/contribute-1920x560.jpg">
        <source media="(max-width: 767px)" srcset="/assets/img/pictures/contribute-960x540.jpg">
        <img src="/assets/img/picture/contribute-1920x560.jpg" alt="Hands connecting wires to a board" />
      </picture>
    </div>

    
    <div class="container">

      <!-- Title -->
      <div class="row">
        <div class="col-12">
          <h1 class="title-blocks">
            <span class="block block--orange">贡献</span>
          </h1>
        </div>
      </div>

      <!-- Intro -->
      <div class="row">
        <div class="col-12 col-lg-10">
          <div class="page-header__intro wysiwyg">
              <p class="text-lg">
                MicroBlocks 是一个<a href="https://mozilla.org/MPL/2.0/" target="_blank">自由软件</a>项目，它鼓励、欢迎并深深感谢来自社区的贡献。</p>
              {{#markdown}}我们正积极寻找 [翻译者](contribute#translate), [内容创作者](contribute#content-creation), [热情的社区成员](about#ambassadors) and [捐赠](contribute#financial-contribution).{{/markdown}}
              <br/>
              {{#markdown}}如果您的贡献主要服务于中文用户，这个页面就是为您制作的。如果您的贡献对于全球用户是通用的, 请直接贡献给 [MicroBlocks 团队](https://microblocks.fun/contribute).{{/markdown}}
          </div>
        </div>
      </div>

    </div>


  </header>
  <!-- Header -->


  <!-- Contents -->
  <div class="main__contents">


    <!-- Translate -->
    <div class="container section" id="translate">
      <article class="row border-top">

        <header class="col-12 col-md-4">
          <h2 class="section-title">翻译</h2>
        </header>
  
        <main class="col-12 col-md-8">
          <div class="row">
  
            <div class="col-12 col-lg-6 u_mb-2">
              <h3 class="section-subtitle">翻译编程环境</h3>
              <div class="wysiwyg">
                  {{#markdown "ui-translators"}}{{/markdown}}
                  <a class="btn btn--blue" href="https://github.com/MicroBlocksCN/smallvm#%E5%B8%AE%E5%8A%A9%E6%94%B9%E8%BF%9B%E4%B8%AD%E6%96%87%E7%BF%BB%E8%AF%91" target="_blank">翻译 MicroBlocks 编程环境</a>
              </div>
            </div>
      
            <div class="col-12 col-lg-6">
              <h3 class="section-subtitle">翻译活动(Activity)</h3>
              <div class="wysiwyg">
                  {{#markdown "card-translators"}}{{/markdown}}
                  <a class="btn btn--blue" href="https://github.com/MicroBlocksCN/microblocks-learn#%E7%BF%BB%E8%AF%91%E6%B4%BB%E5%8A%A8activities" target="_blank">翻译活动(Activity)</a>
              </div>
            </div>
  
          </div>
        </main>
  
      </article>  
    </div>
    <!-- Translate -->


    <!-- Content Creation -->
    <div class="container section" id="content-creation">
      <article class="row border-top">

        <header class="col-12 col-md-4">
          <h2 class="section-title">内容创作者</h2>
        </header>
  
        <main class="col-12 col-md-8">
          <div class="wysiwyg">
              {{#markdown "content-creation"}}{{/markdown}}
              <a class="btn btn--orange" href="https://learn.microblocksfun.cn/cn/">访问<b>学习<b>部分</a>
          </div>
        </main>
  
      </article>
    </div>
    <!-- Content Creation -->


    <!-- Financial Contribution -->
    <div class="container section" id="financial-contribution">
      <article class="row border-top">

        <header class="col-12 col-md-4">
          <h2 class="section-title">捐赠</h2>
        </header>
  
        <main class="col-12 col-md-8">
          <div class="wysiwyg">
              {{#markdown "financial-contribution"}}{{/markdown}}
            <form action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_top">
              <input type="hidden" name="cmd" value="_s-xclick">
              <input type="hidden" name="hosted_button_id" value="CHZLTCKCSFGTS">
              <button type="submit" name="submit" value="Donate" class="btn btn--teal">现在捐赠 !</button>
            </form>
          </div>
        </main>
  
      </article>
    </div>
    <!-- Financial Contribution -->


  </div>
  <!-- Contents -->

{{> _footer_thanks color="yellow"}}

{{/inline}}
{{/layouts._html-shell}}
