{{! Download }}

{{#> layouts._html-shell 
    title="Download" 
    pageClass="page-download"
    pageUrl="https://wwww.microblocks.fun/download"
    pageDescription="Download Microblocks!"
}}

{{#*inline "main-content"}}

<!-- Header -->
<header class="main__header main__header--margin-tight">

  <!-- Hero -->
  <div class="hero-yellow">
    <div class="page-download__hero">

      <!-- Boardie -->
      <div class="page-download__hero__boardie">
        <img src="assets/img/boardie/boardie-download.svg" alt="Board with leds drawing a dowload arrow">
      </div>

      <!-- CTA -->
      <div class="page-download__hero__action">
        <h1 class="page-download__hero__title">
          <span>get MicroBlocks for</span>
          windows
        </h1>        
        <a class="btn btn--purple btn--large">Download</a>
      </div>

      <!-- Specs -->
      <div class="page-download__hero__specs">
        <div class="wysiwyg wysiwyg--black">
          <p>
          <strong>Current Version: <span class="version"></span></strong><br>
          Released on <span class="date"></span>. <a href="https://microblocks.fun/downloads/latest/CHANGELOG.txt">Release&nbsp;notes</a>.
          </p>
        </div>
      </div>

    </div>
  </div>
  <script>
    populateDownloadPage();
  </script>
  
</header>
<!-- Header -->


<!-- Contents -->
<div class="main__contents">

  <div class="container">
    <div class="row justify-content-md-center section">
      <article class="col-12 col-md-10 col-lg-7">

        <header>
          <h2 class="section-title u_text-center">
            Need more options?
          </h2>
        </header>

        <main>
          <div class="wysiwyg wysiwyg--center">

            <p class="text-md">
              Are you searching for installers for other platforms, prebuilt virtual machines or standalone executables? You will find them here!
            </p>

            <div class="u_mb-4">
              <a class="btn btn--teal btn--large u_mb-0.5" href="releases">Other Platforms</a><br>
              <a class="btn btn--blue btn--large" href="https://microblocks.fun/downloads">Previous Versions</a>
            </div>

            <p class="text-md">
              If you want a preview of upcoming features, you can try out the Pilot Version, but keep in mind it might not be as stable as the main release.
            </p>

            <div>
              <a class="btn btn--purple btn--large u_mb-0.5" href="https://microblocks.fun/downloads/pilot">Pilot Version</a>
              <div class="page-download__pilot-specs">
                <div class="wysiwyg _wysiwyg--black">
                  <p>
                    Version: <strong><span class="pilot-version"></span></strong><br>
                    Released on <span class="pilot-date"></span><br>
                    <a href="https://microblocks.fun/downloads/pilot/CHANGELOG.txt">Release&nbsp;notes</a>
                  </p>
                </div>
              </div>
            </div>

          </div>
        </main>
        
      </article>
    </div>
  </div>

</div>
<!-- Contents -->


<!-- Contents Footer -->
<div class="main__footer">
    {{> _next-steps }}
</div>
<!-- Contents Footer -->

{{/inline}}
{{/layouts._html-shell}}
