{{! Download }}

{{#> layouts._html-shell
    title="Download"
    pageClass="page-download"
    pageUrl="https://wwww.microblocks.fun/download"
    pageDescription="Download Microblocks!"
}}

{{#*inline "main-content"}}

<!-- Header -->
<header class="main__header main__header--margin-tight">

  <!-- Hero -->
  <div class="hero-yellow">
    <div class="page-download__hero">

      <!-- Boardie -->
      <div class="page-download__hero__boardie">
        <img src="/assets/img/boardie/boardie-download.svg" alt="Board with leds drawing a dowload arrow">
      </div>

      <!-- CTA -->
      <div class="page-download__hero__action">
        <h1 class="page-download__hero__title">
          <span>get MicroBlocks for</span>
          windows
        </h1>        
        <a class="btn btn--purple btn--large">下载</a>
      </div>

      <!-- Specs -->
      <div class="page-download__hero__specs">
        <div class="wysiwyg wysiwyg--black">
          <p>
          <!--<strong>Current Version: <span class="version"></span></strong><br>-->
          <a href="https://microblocks.fun/downloads/latest/CHANGELOG.txt">发布日志</a>
          </p>
        </div>
      </div>

    </div>
  </div>
  <script>
    populateDownloadPage();
  </script>

</header>
<!-- Header -->


<!-- Contents -->
<div class="main__contents">

  <div class="container">
    <div class="row justify-content-md-center section">
      <article class="col-12 col-md-10 col-lg-7">

        <header>
          <h2 class="section-title u_text-center">
            更多选择
          </h2>
        </header>

        <main>
          <div class="wysiwyg wysiwyg--center">

            <p class="text-md">
              你是否正在寻找其他平台的安装程序、预构建的虚拟机或免安装(绿色)版本软件? 你将在这里找到它们！
            </p>

            <div class="u_mb-4">
              <a class="btn btn--teal btn--large u_mb-0.5" href="https://microblocks.fun/releases">其他平台</a><br>
              <a class="btn btn--blue btn--large" href="https://microblocks.fun/downloads">历史版本</a>
            </div>

            <p class="text-md">
              如果你想尝试最新的功能，你可以试一试体验版，<b>但请注意</b>，体验版的稳定性可能不如正式版。
            </p>

            <div>
              <a class="btn btn--purple btn--large u_mb-0.5" href="https://microblocks.fun/downloads/pilot">体验版</a><br>
              <a class="btn btn--purple btn--large u_mb-0.5" href="https://microblocksfun.cn/run/microblocks.html">在浏览器中运行体验版</a>
              <div class="page-download__pilot-specs">
                <div class="wysiwyg _wysiwyg--black">
                  <p>
                    <!--Version: <strong><span class="pilot-version"></span></strong><br>-->
                    
                    <a href="https://microblocks.fun/downloads/pilot/CHANGELOG.txt">发布日志</a>
                  </p>
                </div>
              </div>
            </div>

          </div>
        </main>

      </article>
    </div>
  </div>

</div>
<!-- Contents -->


<!-- Contents Footer -->
<div class="main__footer">
    {{> _next-steps }}
</div>
<!-- Contents Footer -->

{{/inline}}
{{/layouts._html-shell}}
