{{! Get Started }}

{{#> layouts._html-shell
    title="Get Started"
    pageClass="page-get-started"
    pageUrl="https://wwww.microblocks.fun/get-started"
    _pageDescription="Latest release of MicroBlocks."
}}

{{#*inline "main-content"}}

<!-- Header -->
<header class="main__header">


    <!-- Hero -->
    <div class="hero-picture">
        <picture class="hero-picture__img">
            <source media="(min-width: 768px)" srcset="assets/img/pictures/get-started-1920x560.jpg">
            <source media="(max-width: 767px)" srcset="assets/img/pictures/get-started-960x540.jpg">
            <img src="assets/img/picture/get-started-1920x560.jpg" alt="Hands connecting wires to a board" />
        </picture>
    </div>


    <div class="container">

        <!-- Title -->
        <div class="row">
            <div class="col-12">
                <h1 class="title-blocks">
                    <span class="block block--orange">Get</span>
                    <span class="block block--teal">Started</span>
                </h1>
            </div>
        </div>

        <!-- Intro -->
        <div class="row">

            <div class="col-12 col-lg-8">
                <div class="page-header__intro wysiwyg u_mb-4 u_lg:mb-0">
                    <p class="text-lg">Getting started with MicroBlocks takes no time at all. Just follow these simple steps.</p>
                    <p class="text-md">You’ll need a computer (not a mobile device!) with a USB port, a USB cable, and a <a href="https://wiki.microblocks.fun/boards/supported"> board</a>. You can run MicroBlocks in a Chrome or Edge browser, or download a standalone app for Chromebook, Windows, MacOS, or Linux.
                </div>
            </div>

            <div class="col-12 offset-lg-1 col-lg-3">
                <nav>
                    <h2 class="title-line">
                        <span>The Recipe</span>
                    </h2>
                    <ul class="list-numeric">
                        <li>
                            <a class="list-numeric__anchor" href="#computer">
                                <div class="list-numeric__index circle circle--orange">1</div>
                                <div class="list-numeric__text">Set up your computer</div>
                            </a>
                        </li>
                        <li>
                            <a class="list-numeric__anchor" href="#board">
                                <div class="list-numeric__index circle circle--purple">2</div>
                                <div class="list-numeric__text">Set up your board</div>
                            </a>
                        </li>
                        <li>
                            <a class="list-numeric__anchor" href="#ide">
                                <div class="list-numeric__index circle circle--teal">3</div>
                                <div class="list-numeric__text">Start coding!</div>
                            </a>
                        </li>
                    </ul>
                </nav>
            </div>

        </div>

    </div>


</header>
<!-- Header -->


<!-- Contents -->
<div class="main__contents">

    <!-- Computer -->
    {{#> layouts._tabbed-content
        tabs-title="Computer Setup"
        color="orange"
        id="computer"
        markdown="computer-intro"
    }}

        {{#*inline "tab-buttons"}}
            {{> _tab-button button-id="browser" button-label="Browser" selected="true"}}
            {{> _tab-button button-id="chromebook" button-label="Chromebook" selected="false"}}
            {{> _tab-button button-id="windows" button-label="Windows" selected="false"}}
            {{> _tab-button button-id="macos" button-label="MacOS" selected="false"}}
            {{> _tab-button button-id="linux" button-label="Linux" selected="false"}}
        {{/inline}}

        {{#*inline "tabbed-content"}}
            {{> _tab-content tab-id="browser" markdown="setup-browser" img="setup-browser.png" alt-text="Hands connecting wires to a board"}}
            {{> _tab-content tab-id="chromebook" markdown="setup-chromebook" img="setup-chromebook.png" alt-text="Hands connecting wires to a board"}}
            {{> _tab-content tab-id="windows" markdown="setup-windows" img="setup-windows.png" alt-text="Hands connecting wires to a board"}}
            {{> _tab-content tab-id="macos" markdown="setup-macos" img="setup-macos.png" alt-text="Hands connecting wires to a board"}}
            {{> _tab-content tab-id="linux" markdown="setup-linux" img="setup-linux.png" alt-text="Hands connecting wires to a board"}}
        {{/inline}}

    {{/layouts._tabbed-content}}

    <!-- Board -->
    {{#> layouts._tabbed-content
        tabs-title="Board Setup"
        color="purple"
        id="board"
        markdown="board-intro"
    }}

        {{#*inline "tab-buttons"}}
            {{> _tab-button button-id="microbit" button-label="micro:bit" selected="true"}}
            {{> _tab-button button-id="cpx" button-label="Circuit Playground Express" selected="false"}}
            {{> _tab-button button-id="calliope" button-label="Calliope Mini" selected="false"}}
            {{> _tab-button button-id="m5" button-label="M5 Boards" selected="false"}}
            {{> _tab-button button-id="others" button-label="Others" selected="false"}}
        {{/inline}}

        {{#*inline "tabbed-content"}}
            {{> _tab-content tab-id="microbit" markdown="setup-microbit" img="setup-microbit.png" alt-text="Hands connecting wires to a board"}}
            {{> _tab-content tab-id="cpx" markdown="setup-cpx" img="setup-cpx.png" alt-text="Hands connecting wires to a board"}}
            {{> _tab-content tab-id="calliope" markdown="setup-calliope" img="setup-calliope.png" alt-text="Hands connecting wires to a board"}}
            {{> _tab-content tab-id="m5" markdown="setup-m5" img="setup-m5stack.png" alt-text="Hands connecting wires to a board"}}
            {{> _tab-content tab-id="others" markdown="setup-other-boards" img="setup-other-boards.jpg" alt-text="Hands connecting wires to a board"}}
        {{/inline}}
    {{/layouts._tabbed-content}}

    <!-- IDE -->
    {{#> layouts._tabbed-content
        tabs-title="Start Coding!"
        color="teal"
        id="ide"
        markdown="ide-intro"
    }}

        {{#*inline "tab-buttons"}}
            {{> _tab-button button-id="desktop" button-label="Desktop" selected="true"}}
            {{> _tab-button button-id="chromebook" button-label="Chromebook" selected="false"}}
            {{> _tab-button button-id="browser" button-label="Browser" selected="false"}}
        {{/inline}}

        {{#*inline "tabbed-content"}}
            {{> _tab-content tab-id="desktop" markdown="run-ide-desktop" img="setup-windows.png" alt-text="Hands connecting wires to a board"}}
            {{> _tab-content tab-id="chromebook" markdown="run-ide-chromebook" img="setup-chromebook.png" alt-text="Hands connecting wires to a board"}}
            {{> _tab-content tab-id="browser" markdown="run-ide-browser" img="setup-browser.png" alt-text="Hands connecting wires to a board"}}
        {{/inline}}
    {{/layouts._tabbed-content}}
</div>
<!-- Contents -->

{{> _footer_wiki }}

{{/inline}}
{{/layouts._html-shell}}
