{{! Get Started }}

{{#> layouts._html-shell title="Microblocks - Get Started" pageClass="page-get-started"}}

{{#*inline "main-content"}}

<!-- Header -->
<header class="main__header">


    <!-- Hero -->
    <div class="hero-picture">
        <picture class="hero-picture__img">
            <source media="(min-width: 768px)" srcset="assets/img/pictures/picture-1920x1080.jpg">
            <source media="(max-width: 767px)" srcset="assets/img/pictures/picture-960x540.jpg">
            <img src="assets/img/picture/picture-1920x1080.jpg" alt="Hands connecting wires to a board" />
        </picture>
    </div>


    <div class="container">

        <!-- Title -->
        <div class="row">
            <div class="col-12">
                <h1 class="title-blocks">
                    <span class="block block--orange">Get</span>
                    <span class="block block--teal">Started</span>
                </h1>
            </div>
        </div>

        <!-- Intro -->
        <div class="row">

            <div class="col-12 col-lg-8">
                <div class="page-header__intro wysiwyg u_mb-4">
                    <p class="text-md">On the other hand, we denounce with righteous indignation and dislike men who are so beguiled and demoralized by the charms of pleasure of the moment, so blinded by desire, that they cannot foresee the pain and trouble that are bound to ensue; and equal blame belongs to those who fail in their duty through weakness of will, which is the same as saying through shrinking from toil.</p>
                    <p>You’ll need a <a href="#computer">computer</a> and a <a href="#board">board</a>. And then you’ll be ready to use <a href="#interface">the interface</a>.
                </div>
            </div>

            <div class="col-12 offset-lg-1 col-lg-3">
                <nav>
                    <h2 class="title-small">
                        The Recipe Index
                    </h2>
                    <ul class="list-numeric">
                        <li>
                            <a class="list-numeric__anchor" href="#computer">
                                <div class="list-numeric__index circle circle--orange">1</div>
                                <div class="list-numeric__text">Setting up your computer</div>
                            </a>
                        </li>
                        <li>
                            <a class="list-numeric__anchor" href="#board">
                                <div class="list-numeric__index circle circle--purple">2</div>
                                <div class="list-numeric__text">Setting up your board</div>
                            </a>
                        </li>
                        <li>
                            <a class="list-numeric__anchor" href="#microblocks-ide">
                                <div class="list-numeric__index circle circle--teal">3</div>
                                <div class="list-numeric__text">Start the MicroBlocks IDE</div>
                            </a>
                        </li>
                    </ul>
                </nav>
                
            </div>

        </div>

    </div>


</header>
<!-- Header -->


<!-- Contents -->
<div class="main__contents">


    <!-- Computer -->
    <div id="computer" class="tabs">
        
        <!-- Intro -->
        <div class="container u_mb-4">
            <div class="row">
                <div class="col-12 col-lg-4">
                    <h2 class="section-title">
                        Setting up your computer
                    </h2>
                </div>
                <div class="col-12 col-lg-8">
                    <div class="wysiwyg">
                        <p class="text">
                            On the other hand, we denounce with righteous indignation and dislike men who are so beguiled and demoralized by the charms of pleasure of the moment, so blinded by desire, that they cannot foresee the pain and trouble that are bound to ensue.
                        </p>
                    </div>
                </div>
            </div>
        </div>

        <!-- Tabs -->
        <div class="tabs__container tabs--orange">


            <div class="tabs__buttons-list">
                <button class="tabs__button">Windows</button>
                <button class="tabs__button">MacOS</button>
                <button class="tabs__button">Linux</button>
                <button class="tabs__button">Chromebook</button>
                <button class="tabs__button">Browser</button>
            </div>


            <div class="tabs__contents-wrapper">

                <!-- Windows -->
                <div class="tabs__tab-content">
                    <div class="container">
                        <div class="row">
                            <div class="col-12 col-lg-4">
                                <picture class="u_mb-2">
                                    <img src="assets/img/pictures/picture-960x540.jpg" alt="Hands connecting wires to a board" />
                                </picture>                                
                            </div>
                            <div class="col-12 col-lg-8">
                                <div class="wysiwyg">
                                    {{#markdown "setup-windows"}}{{/markdown}}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                

                <!-- MacOS -->
                <div class="tabs__tab-content">
                    <div class="container">
                        <div class="row">
                            <div class="col-12 col-lg-4">
                                <img src="assets/img/pictures/picture-960x540.jpg" alt="Hands connecting wires to a board" />
                            </div>
                            <div class="col-12 col-lg-8">
                                <div class="wysiwyg">
                                    {{#markdown "setup-macos"}}{{/markdown}}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>


                <!-- Linux -->
                <div class="tabs__tab-content">
                    <div class="container">
                        <div class="row">
                            <div class="col-12 col-lg-4">
                                <img src="assets/img/pictures/picture-960x540.jpg" alt="Hands connecting wires to a board" />
                            </div>
                            <div class="col-12 col-lg-8">
                                <div class="wysiwyg">
                                    {{#markdown "setup-linux"}}{{/markdown}}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                

                <!-- Chromebook -->
                <div class="tabs__tab-content">
                    <div class="container">
                        <div class="row">
                            <div class="col-12 col-lg-4">
                                <img src="assets/img/pictures/picture-960x540.jpg" alt="Hands connecting wires to a board" />
                            </div>
                            <div class="col-12 col-lg-8">
                                <div class="wysiwyg">
                                    {{#markdown "setup-chromebook"}}{{/markdown}}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>


                <!-- Browser -->
                <div class="tabs__tab-content">
                    <div class="container">
                        <div class="row">
                            <div class="col-12 col-lg-4">
                                <img src="assets/img/pictures/picture-960x540.jpg" alt="Hands connecting wires to a board" />
                            </div>
                            <div class="col-12 col-lg-8">
                                <div class="wysiwyg">
                                    {{#markdown "setup-browser"}}{{/markdown}}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>


            </div>
    

        </div>
        
    </div>
    <!-- Computer -->


</div>
<!-- Contents -->


<!-- Contents Footer -->
<aside class="main__footer colored-section colored-section--yellow">
    <div class="container">
        <div class="row justify-content-md-center">
            <div class="col-12 col-md-10 col-lg-8">
                <div class="colored-section__title">
                    <h2 class="heading-large">
                        Want more?<br />
                        Check Our Wiki
                    </h2>
                </div>
                <div class="colored-section__contents">
                    <p class="u_mb-2">
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
                        labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco
                        laboris nisi ut aliquip ex ea commodo.
                    </p>
                    <div class="btn btn--purple">Visit our Wiki</div>
                </div>
            </div>
        </div>
    </div>
</aside>
<!-- Contents Footer -->

{{/inline}}
{{/layouts._html-shell}}
