{{! Get Started }}

{{#> layouts._html-shell
    title="Get Started"
    pageClass="page-get-started"
    pageUrl="https://wwww.microblocks.fun/get-started"
    _pageDescription="Latest release of MicroBlocks."
}}

{{#*inline "main-content"}}

<!-- Header -->
<header class="main__header">


    <!-- Hero -->
    <div class="hero-picture">
        <picture class="hero-picture__img">
            <source media="(min-width: 768px)" srcset="assets/img/pictures/get-started-1920x560.jpg">
            <source media="(max-width: 767px)" srcset="assets/img/pictures/get-started-960x540.jpg">
            <img src="assets/img/picture/get-started-1920x560.jpg" alt="Hands connecting wires to a board" />
        </picture>
    </div>


    <div class="container">

        <!-- Title -->
        <div class="row">
            <div class="col-12">
                <h1 class="title-blocks">
                    <span class="block block--orange">Get</span>
                    <span class="block block--teal">Started</span>
                </h1>
            </div>
        </div>

        <!-- Intro -->
        <div class="row">

            <div class="col-12 col-lg-8">
                <div class="page-header__intro wysiwyg u_mb-4 u_lg:mb-0">
                    <p class="text-lg">On the other hand, we denounce with righteous indignation and dislike men who are so beguiled and demoralized by the charms of pleasure of the moment, so blinded by desire.</p>
                    <p class="text-md">You’ll need a <a href="#computer">computer</a> and a <a href="#board">board</a>. And then you’ll be ready to use <a href="#interface">the interface</a>.
                </div>
            </div>

            <div class="col-12 offset-lg-1 col-lg-3">
                <nav>
                    <h2 class="title-line">
                        <span>The Recipe</span>
                    </h2>
                    <ul class="list-numeric">
                        <li>
                            <a class="list-numeric__anchor" href="#computer">
                                <div class="list-numeric__index circle circle--orange">1</div>
                                <div class="list-numeric__text">Set up your computer</div>
                            </a>
                        </li>
                        <li>
                            <a class="list-numeric__anchor" href="#board">
                                <div class="list-numeric__index circle circle--purple">2</div>
                                <div class="list-numeric__text">Set up your board</div>
                            </a>
                        </li>
                        <li>
                            <a class="list-numeric__anchor" href="#ide">
                                <div class="list-numeric__index circle circle--teal">3</div>
                                <div class="list-numeric__text">Start the MicroBlocks IDE</div>
                            </a>
                        </li>
                    </ul>
                </nav>                
            </div>

        </div>

    </div>


</header>
<!-- Header -->


<!-- Contents -->
<div class="main__contents">

    <!-- Computer -->
    {{#> layouts._tabbed-content
        tabs-title="Setting up your computer"
        color="orange"
        id="computer"
        markdown="computer-intro"
    }}

        {{#*inline "tab-buttons"}}
            {{> _tab-button button-id="windows" button-label="Windows" selected="true"}}
            {{> _tab-button button-id="macos" button-label="MacOS" selected="false"}}
            {{> _tab-button button-id="linux" button-label="Linux" selected="false"}}
            {{> _tab-button button-id="chromebook" button-label="Chromebook" selected="false"}}
            {{> _tab-button button-id="browser" button-label="Browser" selected="false"}}
        {{/inline}}

        {{#*inline "tabbed-content"}}
            {{> _tab-content tab-id="windows" markdown="setup-windows" img="windows.png" alt-text="Hands connecting wires to a board"}}
            {{> _tab-content tab-id="macos" markdown="setup-macos" img="picture-960x540.jpg" alt-text="Hands connecting wires to a board"}}
            {{> _tab-content tab-id="linux" markdown="setup-linux" img="picture-960x540.jpg" alt-text="Hands connecting wires to a board"}}
            {{> _tab-content tab-id="chromebook" markdown="setup-chromebook" img="chromebook.png" alt-text="Hands connecting wires to a board"}}
            {{> _tab-content tab-id="browser" markdown="setup-browser" img="picture-960x540.jpg" alt-text="Hands connecting wires to a board"}}
        {{/inline}}

    {{/layouts._tabbed-content}}

    <!-- Board -->
    {{#> layouts._tabbed-content
        tabs-title="Setting up your board"
        color="purple"
        id="board"
        markdown="board-intro"
    }}

        {{#*inline "tab-buttons"}}
            {{> _tab-button button-id="microbit" button-label="micro:bit" selected="true"}}
            {{> _tab-button button-id="cpx" button-label="Circuit Playground Express" selected="false"}}
            {{> _tab-button button-id="calliope" button-label="Calliope Mini" selected="false"}}
            {{> _tab-button button-id="m5" button-label="M5 Boards" selected="false"}}
            {{> _tab-button button-id="others" button-label="Others" selected="false"}}
        {{/inline}}

        {{#*inline "tabbed-content"}}
            {{> _tab-content tab-id="microbit" markdown="setup-microbit" img="microbit.png" alt-text="Hands connecting wires to a board"}}
            {{> _tab-content tab-id="cpx" markdown="setup-cpx" img="cpx.png" alt-text="Hands connecting wires to a board"}}
            {{> _tab-content tab-id="calliope" markdown="setup-calliope" img="calliope.png" alt-text="Hands connecting wires to a board"}}
            {{> _tab-content tab-id="m5" markdown="setup-m5" img="m5stack.png" alt-text="Hands connecting wires to a board"}}
            {{> _tab-content tab-id="others" markdown="setup-other-boards" img="other-boards.jpg" alt-text="Hands connecting wires to a board"}}
        {{/inline}}
    {{/layouts._tabbed-content}}

    <!-- IDE -->
    {{#> layouts._tabbed-content
        tabs-title="Running the MicroBlocks IDE"
        color="teal"
        id="ide"
        markdown="ide-intro"
    }}

        {{#*inline "tab-buttons"}}
            {{> _tab-button button-id="desktop" button-label="Desktop" selected="true"}}
            {{> _tab-button button-id="chromebook" button-label="Chromebook" selected="false"}}
            {{> _tab-button button-id="browser" button-label="Browser" selected="false"}}
        {{/inline}}

        {{#*inline "tabbed-content"}}
            {{> _tab-content tab-id="desktop" markdown="run-ide-desktop" img="picture-960x540.jpg" alt-text="Hands connecting wires to a board"}}
            {{> _tab-content tab-id="chromebook" markdown="run-ide-chromebook" img="picture-960x540.jpg" alt-text="Hands connecting wires to a board"}}
            {{> _tab-content tab-id="browser" markdown="run-ide-browser" img="picture-960x540.jpg" alt-text="Hands connecting wires to a board"}}
        {{/inline}}
    {{/layouts._tabbed-content}}
</div>
<!-- Contents -->


<!-- Contents Footer -->
<aside class="main__footer colored-section colored-section--yellow">
    <div class="container">
        <div class="row justify-content-md-center">
            <div class="col-12 col-md-10 col-lg-8">
                <div class="colored-section__title">
                    <h2 class="heading-large">
                        Want more?<br />
                        Check Our Wiki
                    </h2>
                </div>
                <div class="colored-section__contents wysiwyg">
                    <p class="text-md">
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
                        labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco
                        laboris nisi ut aliquip ex ea commodo.
                    </p>
                    <a href="https://wiki.microblocks.fun/" taget="_blank" class="btn btn--purple">Visit our Wiki</a>
                </div>
            </div>
        </div>
    </div>
</aside>
<!-- Contents Footer -->

{{/inline}}
{{/layouts._html-shell}}
