{{! Templates Index }}

{{#> layouts._html-shell title="Microblocks - Home" pageClass="page-home page-has-hero"}}

{{#*inline "main-content"}}


{{! Examples for modal dialogs below. The first one makes a text-only modal, the second one is an image. }}

{{!> _modal show-text=true modal-title="This is another test" message="What a cool banner! I'm never going to close it!" }}
{{> _modal show-text=false modal-title="Fundraiser" img="https://sfconservancy.org/img/banners/2019-member-projects-banner.png" href="https://sfconservancy.org/supporter" img-alt="Conservancy helps make our work possible. Please donate to them today to support community-driven free software projects!"}}


<!-- Header -->
<header class="main__header">

    <!-- Hero -->
    <div class="hero-yellow">
        <div class="page-index__hero">

            <!-- Boardie -->
            <div class="container">
                <div class="row">
                    <div class="col-12">
                        <div class="index-hero__boardie">
                            <img src="assets/img/boardie/boardie-home-hero.svg" alt="Boardie and a group of blocks">
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-12">
                        <div class="index-hero__statement">
                            <p>
                            small, fast,<br />human-friendly
                            </p>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>


    <!-- Intro -->
    <div class="container">
        <div class="row align-items-center">

            <!-- Boardie -->
            <div class="col-12 col-lg-4">
                <img src="assets/img/boardie/boardie-home-intro.svg" alt="Boardie and a group of blocks">
            </div>

            <!-- Text -->
            <div class="col-12 col-lg-8">
                <div class="page-header__intro wysiwyg">
                    <p class="text-lg text-black"><strong>MicroBlocks is a blocks programming language for physical computing inspired by Scratch.</strong></p>
                    <p class="text-md">It runs on microcontrollers such as the <a href="http://microbit.org/">micro:bit</a>, <a href="https://calliope.cc/en">Calliope mini</a>, <a href="https://www.adafruit.com/product/3333">AdaFruit Circuit Playground Express</a>, and many <a href="https://wiki.microblocks.fun/board_list">others</a>.</p>
                </div>
            </div>

        </div>
    </div>


</header>
<!-- Header -->


<!-- Contents -->
<div class="main__contents">


    <!-- What makes MicroBlocks Special -->
    <div class="index-special bg-grey">
        <div class="container">


            <!-- Title -->
            <div class="row">
                <header class="col-12">
                    <h2 class="title-blocks u_text-center">
                        <span class="block block--orange">What</span>
                        <span class="block block--purple">Makes</span>
                        <span class="block block--teal">MicroBlocks</span>
                        <span class="block block--blue">Special</span>
                    </h2>
                </header>
            </div>


            <!-- Live Coding -->
            <div class="index-special__block row justify-content-center align-items-center">

                <div class="col-12 col-md-6 col-lg-5">
                    <div class="index-special__illustration">
                        <img src="assets/img/boardie/boardie-home-live-coding.svg" alt="Boardie receiving instant orders">
                    </div>
                </div>

                <div class="col-12 col-md-6 col-lg-5">
                    <div class="index-special__index">
                        <div class="circle circle--orange u_mb-0.5">
                            1
                        </div>
                    </div>
                    <h3 class="index-special__title u_mb-1">
                        Live Coding
                    </h3>
                    <div class="wysiwyg">
                        <p>
                        MicroBlocks is a live environment. Click on a block and it runs immediately, right on the board. Try out commands. See and graph sensor values in real time. No more waiting for code to compile and download.
                        </p>
                    </div>
                </div>

            </div>


            <!-- Multitask Naturally -->
            <div class="index-special__block row justify-content-center align-items-center">

                <div class="col-12 col-md-6 col-lg-5">
                    <div class="index-special__illustration">
                        <img src="assets/img/boardie/boardie-home-multitask-naturally.svg" alt="Boardie receiving multiple orders">
                    </div>
                </div>

                <div class="index-special__content col-12 col-md-6 col-lg-5">
                    <div class="index-special__index">
                        <div class="circle circle--purple u_mb-0.5">
                            2
                        </div>
                    </div>
                    <h3 class="index-special__title u_mb-1">
                        Multitask Naturally
                    </h3>
                    <div class="wysiwyg">
                        <p>
                        Want to display an animation while controlling a motor? No problem! MicroBlocks lets you write separate scripts for each task and run them at the same time. Your code is simpler to write and easier to understand.
                        </p>
                    </div>
                </div>

            </div>


            <!-- Run Everywhere -->
            <div class="index-special__block row justify-content-center align-items-center">

                <div class="col-12 col-md-6 col-lg-5">
                    <div class="index-special__illustration">
                        <img src="assets/img/boardie/boardie-home-run-everywhere.svg" alt="Boardie receiving multiple orders">
                    </div>
                </div>

                <div class="index-special__content col-12 col-md-6 col-lg-5">
                    <div class="index-special__index">
                        <div class="circle circle--teal u_mb-0.5">
                            3
                        </div>
                    </div>
                    <h3 class="index-special__title u_mb-1">
                        Run Everywhere
                    </h3>
                    <div class="wysiwyg">
                        <p>
                        MicroBlocks runs on many different boards, but your scripts are portable. Buttons, sensors, and display blocks behave the same on all boards with the relevant hardware. MicroBlocks even simulates the micro:bit 5x5 LED display on TFT displays.
                        </p>
                    </div>
                </div>

            </div>


            <!-- Unplug and go! -->
            <div class="index-special__block row justify-content-center align-items-center">

                <div class="col-12 col-md-6 col-lg-5">
                    <div class="index-special__illustration">
                        <img src="assets/img/boardie/boardie-home-unplug-and-go.svg" alt="Boardie receiving multiple orders">
                    </div>
                </div>

                <div class="index-special__content col-12 col-md-6 col-lg-5">
                    <div class="index-special__index">
                        <div class="circle circle--blue u_mb-0.5">
                            4
                        </div>
                    </div>
                    <h3 class="index-special__title u_mb-1">
                        Unplug and go!
                    </h3>
                    <div class="wysiwyg">
                        <p>
                        MicroBlocks downloads your code as you write it. When you like what your program does, just unplug the board and you're good to go. Make a game, a fitness app, or light-up clothing that goes wherever you do.
                        </p>
                    </div>
                </div>

            </div>


        </div>
    </div>






</div>

<!-- Contents Footer -->
<div class="main__footer">
    {{> _next-steps }}
</div>
<!-- Contents Footer -->

{{/inline}}
{{/layouts._html-shell }}
