{{! Templates Index }}

{{#> layouts._html-shell
    title="Home"
    pageClass="page-home page-has-hero"
    pageUrl="https://wwww.microblocks.fun/"
    pageDescription="MicroBlocks is a blocks programming language for physical computing inspired by Scratch."
}}


{{#*inline "main-content"}}


{{! Examples for modal dialogs below. The first one makes a text-only modal, the second one is an image. }}

{{!> _modal show-text=true modal-title="This is another test" message="What a cool banner! I'm never going to close it!" }}
{{!> _modal show-text=false modal-title="Fundraiser" img="https://sfconservancy.org/img/banners/2019-member-projects-banner.png" href="https://sfconservancy.org/supporter" img-alt="Conservancy helps make our work possible. Please donate to them today to support community-driven free software projects!"}}


<!-- Header -->
<header class="main__header">

    <!-- Hero -->
    <div class="hero-yellow">
        <div class="page-index__hero">

            <!-- Boardie -->
            <div class="container">
                <div class="row">
                    <div class="col-12">
                        <div class="index-hero__boardie">
                            <img src="assets/img/boardie/boardie-coding-is-fun.svg" alt="Boardie and a group of blocks">
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-12">
                        <div class="index-hero__statement">
                            <p>
                            small, fast,<br />human-friendly
                            </p>
                            <div class="index-hero__statement-explained index-hero__statement-explained--tools" alt="do a lot with JUST few tools!">
                                <svg width="186" height="109" viewBox="0 0 186 109" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <text transform="translate(0 6.27539) rotate(-1.65512)" fill="#B6519D" xml:space="preserve" style="white-space: pre" font-family="Space Grotesk" font-size="18" font-weight="bold" letter-spacing="0em"><tspan x="0" y="17.728">DO A LOT WITH A FEW &#10;</tspan><tspan x="0" y="40.728">SIMPLE COMMANDS</tspan></text>
                                    <path fill-rule="evenodd" clip-rule="evenodd" d="M56.9226 57.5061C57.1954 57.4633 57.4513 57.6498 57.494 57.9226C57.9473 60.8134 58.3496 63.7585 58.7557 66.7313C59.3881 71.3603 60.0296 76.0566 60.8869 80.7195C62.2911 88.3564 64.2618 95.8179 67.6773 102.535C68.0204 103.21 68.3853 103.844 68.7547 104.486C68.8727 104.691 68.9912 104.897 69.1096 105.106C69.5943 105.958 70.0698 106.839 70.4636 107.813C70.5671 108.069 70.4435 108.36 70.1875 108.464C69.9315 108.567 69.6401 108.444 69.5365 108.188C69.1682 107.277 68.7192 106.442 68.2402 105.6C68.1275 105.401 68.0127 105.202 67.8969 105.001C67.5246 104.354 67.1419 103.689 66.7859 102.989C63.3078 96.1479 61.3153 88.5794 59.9034 80.9003C59.0438 76.2248 58.3947 71.476 57.7587 66.8227C57.3529 63.8542 56.9525 60.9246 56.5061 58.0775C56.4633 57.8047 56.6498 57.5489 56.9226 57.5061Z" fill="#B6519D"/>
                                </svg>
                            </div>
                            <div class="index-hero__statement-explained index-hero__statement-explained--fastest" src="assets/img/statement/statement-fastest.svg">
                                <svg width="207" height="98" viewBox="0 0 207 98" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <text transform="translate(1.57617) rotate(3.93068)" fill="#B6519D" xml:space="preserve" style="white-space: pre" font-family="Space Grotesk" font-size="18" font-weight="bold" letter-spacing="0em"><tspan x="0" y="17.728">FROM IDEA TO REALITY</tspan></text>
                                    <text transform="translate(115.576 31) rotate(3.93068)" fill="#B6519D" xml:space="preserve" style="white-space: pre" font-family="Space Grotesk" font-size="18" font-weight="bold" letter-spacing="0em"><tspan x="0" y="17.728">IN NO TIME</tspan></text>
                                    <path fill-rule="evenodd" clip-rule="evenodd" d="M79.999 32.0909C80.2741 32.1147 80.4778 32.3571 80.454 32.6322C79.9971 37.9065 79.2719 42.6331 77.7602 47.8276C77.635 48.2578 77.5096 48.6896 77.3837 49.1229C74.6406 58.5662 71.7008 68.6864 66.818 77.3018C62.6642 84.6309 55.6953 91.3117 49.53 96.9509C49.3263 97.1373 49.01 97.1232 48.8236 96.9194C48.6373 96.7157 48.6514 96.3994 48.8551 96.213C55.0304 90.5646 61.8828 83.9814 65.948 76.8088C70.7714 68.2983 73.6818 58.2807 76.4343 48.8063C76.5565 48.3858 76.6784 47.9663 76.8001 47.5481C78.2883 42.4343 79.0046 37.7761 79.4577 32.5459C79.4815 32.2708 79.7239 32.0671 79.999 32.0909Z" fill="#B6519D"/>
                                </svg>
                            </div>
                            <div class="index-hero__statement-explained index-hero__statement-explained--human" src="assets/img/statement/statement-speaks-human.svg" alt="speaks human, like you :D">
                                <svg width="299" height="71" viewBox="0 0 299 71" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <text transform="translate(0 6.87402) rotate(-1.65512)" fill="#B6519D" xml:space="preserve" style="white-space: pre" font-family="Space Grotesk" font-size="18" font-weight="bold" letter-spacing="0em"><tspan x="0" y="38.228">SPEAKS YOUR LANGUAGE</tspan></text>
                                    <path fill-rule="evenodd" clip-rule="evenodd" d="M298.73 9.92935C298.77 10.2027 298.58 10.456 298.306 10.495C293.463 11.1869 288.563 11.175 283.72 11.1632C283.094 11.1616 282.469 11.1601 281.844 11.1601C277.736 11.1601 273.73 11.4835 269.681 11.8104C267.255 12.0062 264.814 12.2033 262.326 12.3328C229.459 14.0439 196.379 13.4514 163.444 12.8615C155.804 12.7246 148.172 12.5879 140.552 12.4801C112.361 12.0814 84.191 11.8201 56 11.8201C55.7239 11.8201 55.5 11.5963 55.5 11.3201C55.5 11.044 55.7239 10.8201 56 10.8201C84.1971 10.8201 112.372 11.0815 140.566 11.4802C148.194 11.5881 155.833 11.7249 163.476 11.8618C196.409 12.4516 229.445 13.0433 262.274 11.3342C264.699 11.2079 267.115 11.0133 269.533 10.8185C273.618 10.4894 277.706 10.1601 281.844 10.1601C282.471 10.1601 283.098 10.1616 283.723 10.1631C288.574 10.1746 293.398 10.186 298.165 9.50509C298.438 9.46604 298.691 9.65599 298.73 9.92935Z" fill="#B6519D"/>
                                </svg>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>


    <!-- Intro -->
    <div class="container">
        <div class="row align-items-center">

            <!-- Boardie -->
            <div class="col-12 col-lg-4">
                <img src="assets/img/boardie/boardie-home-intro.svg" alt="Boardie and a group of blocks">
            </div>

            <!-- Text -->
            <div class="col-12 col-lg-8">
                <div class="page-header__intro wysiwyg">
                    <p class="text-lg text-black"><strong>MicroBlocks is a blocks programming language for physical computing inspired by Scratch.</strong></p>
                    <p class="text-md">It runs on microcontrollers such as the <a href="http://microbit.org/">micro:bit</a>, <a href="https://calliope.cc/en">Calliope mini</a>, <a href="https://www.adafruit.com/product/3333">AdaFruit Circuit Playground Express</a>, and many <a href="https://wiki.microblocks.fun/boards/supported">others</a>.</p>
                </div>
            </div>

        </div>
    </div>


</header>
<!-- Header -->


<!-- Contents -->
<div class="main__contents">


    <!-- What makes MicroBlocks Special -->
    <div class="index-special bg-grey">
        <div class="container">


            <!-- Title -->
            <div class="row">
                <header class="col-12">
                    <h2 class="title-blocks u_text-center">
                        <span class="block block--orange">What</span>
                        <span class="block block--purple">Makes</span>
                        <span class="block block--teal">MicroBlocks</span>
                        <span class="block block--blue">Special</span>
                    </h2>
                </header>
            </div>


            <!-- Live Coding -->
            <div class="index-special__block row justify-content-center align-items-center">

                <div class="col-12 col-md-6 col-lg-5">
                    <div class="index-special__illustration">
                        {{!-- <img src="assets/img/boardie/boardie-home-live-coding.svg" alt="Boardie receiving instant orders"> --}}
                        <img src="assets/img/boardie/boardie-live-coding.svg" alt="Boardie receiving instant orders">
                    </div>
                </div>

                <div class="col-12 col-md-6 col-lg-5">
                    <div class="index-special__index">
                        <div class="circle circle--orange u_mb-0.5">
                            1
                        </div>
                    </div>
                    <h3 class="index-special__title u_mb-1">
                        Code Interactively
                    </h3>
                    <div class="wysiwyg">
                        <p>
                        MicroBlocks is a live environment. Click on a block and it runs immediately, right on the board. Try out commands. See and graph sensor values in real time. No more waiting for code to compile and download.
                        </p>
                    </div>
                </div>

            </div>


            <!-- Multitask Naturally -->
            <div class="index-special__block row justify-content-center align-items-center">

                <div class="col-12 col-md-6 col-lg-5">
                    <div class="index-special__illustration">
                        <img src="assets/img/boardie/boardie-multitask-naturally.svg" alt="Boardie receiving multiple orders">
                    </div>
                </div>

                <div class="index-special__content col-12 col-md-6 col-lg-5">
                    <div class="index-special__index">
                        <div class="circle circle--purple u_mb-0.5">
                            2
                        </div>
                    </div>
                    <h3 class="index-special__title u_mb-1">
                        Multitask Naturally
                    </h3>
                    <div class="wysiwyg">
                        <p>
                        Want to display an animation while controlling a motor? No problem! MicroBlocks lets you write separate scripts for each task and run them at the same time. Your code is simpler to write and easier to understand.
                        </p>
                    </div>
                </div>

            </div>


            <!-- Run Everywhere -->
            <div class="index-special__block row justify-content-center align-items-center">

                <div class="col-12 col-md-6 col-lg-5">
                    <div class="index-special__illustration">
                        <img src="assets/img/boardie/boardie-run-everywhere.svg" alt="Boardie receiving multiple orders">
                    </div>
                </div>

                <div class="index-special__content col-12 col-md-6 col-lg-5">
                    <div class="index-special__index">
                        <div class="circle circle--teal u_mb-0.5">
                            3
                        </div>
                    </div>
                    <h3 class="index-special__title u_mb-1">
                        Run Everywhere
                    </h3>
                    <div class="wysiwyg">
                        <p>
                        MicroBlocks runs on many different boards, but your scripts are portable. Buttons, sensors, and display blocks behave the same on all boards with the relevant hardware. MicroBlocks even simulates the micro:bit 5x5 LED display on TFT displays.
                        </p>
                    </div>
                </div>

            </div>


            <!-- Unplug and go! -->
            <div class="index-special__block row justify-content-center align-items-center">

                <div class="col-12 col-md-6 col-lg-5">
                    <div class="index-special__illustration">
                        <img src="assets/img/boardie/boardie-unplug-and-go.svg" alt="Boardie receiving multiple orders">
                    </div>
                </div>

                <div class="index-special__content col-12 col-md-6 col-lg-5">
                    <div class="index-special__index">
                        <div class="circle circle--blue u_mb-0.5">
                            4
                        </div>
                    </div>
                    <h3 class="index-special__title u_mb-1">
                        Unplug and go!
                    </h3>
                    <div class="wysiwyg">
                        <p>
                        MicroBlocks downloads your code as you write it. When you like what your program does, just unplug the board and you're good to go. Make a pocket game, a fitness app, or light-up clothing that goes wherever you do.
                        </p>
                    </div>
                </div>

            </div>


        </div>
    </div>






</div>

<!-- Contents Footer -->
<div class="main__footer">
    {{> _next-steps }}
</div>
<!-- Contents Footer -->

{{/inline}}
{{/layouts._html-shell }}
