{#
## Templates Index
#}

{% extends 'layouts/_html-shell.njk' %}
{% import 'data/_global.njk' as global %}
{% import 'data/_index.njk' as data %}


{% block content %}


  <!-- Hero -->
  <header class="hero">
    Hero!
  </header>


  <!-- Intro -->
  <section>
    Intro!
  </section>


{% endblock %}
