{{! Learn }}

{{#> layouts._html-shell title="Microblocks - Learn" pageClass="page-learn"}}

{{#*inline "main-content"}}


<!-- Header -->
<header class="main__header">


    <!-- Hero -->
    <div class="hero-picture">
        <picture class="hero-picture__img">
            <source media="(min-width: 768px)" srcset="assets/img/pictures/picture-1920x1080.jpg">
            <source media="(max-width: 767px)" srcset="assets/img/pictures/picture-960x540.jpg">
            <img src="assets/img/pictures/picture-1920x1080.jpg" alt="Hands connecting wires to a board" />
        </picture>
    </div>


    <div class="container">

        <!-- Title -->
        <div class="row">
            <div class="col-12">
                <h1 class="title-blocks">
                    <span class="block block--purple">Learn</span>
                </h1>
            </div>
        </div>

        <!-- Intro -->
        <div class="row">
            <div class="col-12 col-md-6">
                <div class="picture picture--16/9 u_rotate-left-2 u_mb-2">
                    <img src="assets/img/pictures/learn-intro-960x540.jpg" alt="Kids playing with a board">
                </div>
            </div>
            <div class="col-12 col-md-6">
                <div class="wysiwyg">
                    <p class="text-md">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
                        eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis
                        nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo.</p>
                </div>
            </div>
        </div>

    </div>


</header>
<!-- Header -->


<!-- Contents -->
<div class="main__contents">


    <div class="page-learn__activity-cards">

        <form class="page-learn__filters" onchange="updateCards(true); // reset page">
            <div class="container">
                <div class="row">

                    <!-- Language -->
                    <div class="col-12 col-md-4 col-lg-3">
                        <label class="page-learn__label" for="language">Language:</label>
                        <select class="page-learn__select" id="language" name="language">
                            <!-- Filled from cards.js -->
                        </select> 
                    </div>

                    <!-- Boards -->
                    <div class="col-6 col-md-4 offset-lg-3 col-lg-3">
                        <label class="page-learn__label" for="board">Board:</label>
                        <select class="page-learn__select page-learn__select--purple" id="board" name="board">
                            <option value="">All Boards</option>
                            <!-- Filled from cards.js -->
                        </select> 
                    </div>

                    <!-- Level -->
                    <div class="col-6 col-md-4 col-lg-3">
                        <label class="page-learn__label" for="level">Level:</label>
                        <select class="page-learn__select page-learn__select--teal" id="level" name="level">
                            <option value="">All Levels</option>
                            <option value="0">Beginner</option>
                            <option value="1">Intermediate</option>
                            <option value="2">Advanced</option>
                        </select> 
                    </div>

                </div>
            </div>
        </form>



        <div class="container">

            <div class="row">
                <div class="col-12">
                    <div class="page-learn__cards-list">
                        <!-- Filled from cards.js -->
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-12">
                    <div class="page-learn__pagination pagination">
                        <!-- Filled from cards.js -->
                    </div>
                </div>
            </div>

        </div>
        <script>
            updateCards();
        </script>
    </div>



</div>
<!-- Contents -->


<!-- Contents Footer -->
<aside class="main__footer colored-section colored-section--grey">
    <div class="container">
        <div class="row justify-content-md-center">
            <div class="col-12 col-md-10 col-lg-8">
                <div class="colored-section__title">
                    <h2 class="block block--purple">Thanks</h2>
                </div>
                <div class="colored-section__contents">
                    <p>
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
                        labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco
                        laboris nisi ut aliquip ex ea commodo.
                    </p>
                </div>
            </div>
        </div>
    </div>
</aside>
<!-- Contents Footer -->

{{/inline}}
{{/layouts._html-shell}}
