<html>
    <head>
        <meta http-equiv="Refresh" content="0; URL=https://learn.microblocks.fun" />
    </head>
    <body>
        <h1>Redirecting you to learn.microblocks.fun ...</h1>
        <a href="https://learn.microblocks.fun">Please click here if you're not redirected automatically</a>
    </body>
</html>
