<!DOCTYPE html>
<html lang="en">
    <head>
        <title>MicroBlocks file server</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width,initial-scale=1">
        <link href="/main.css" rel="stylesheet">
    </head>

    <body>
        <div class="page files">
            <main class="main">
