{#
## Download
#}

{% extends 'layouts/_html-shell.njk' %}
{% import 'data/_global.njk' as global %}
{% import 'data/_release.njk' as data %}


{% block content %}

<!-- Header -->
<header class="main__header">

    <!-- Hero -->
    <div class="hero-yellow"></div>

    <div class="container">

        <!-- Title -->
        <div class="row">
            <div class="col">
                <h1 class="title-blocks">
                    <span class="block block--purple">download</span>
                </h1>
            </div>
        </div>

        <!-- Intro -->
        <div class="row">
            <div class="col-12 col-lg-9">
                <div class="main-header__intro wysiwyg">
                    <h2 class="heading-large">MicroBlocks Version 1.0.14</h2>
                    <p class="wysiwyg--md">released on 22 February 2021</p>
                </div>
            </div>
            <div class="col-12 col-lg-3">
                <div class="page-release__intro-download-btn">
                    <a class="btn btn--purple" href="learn.html">Other Versions</a>
                </div>
            </div>
        </div>

    </div>

</header>
<!-- Header -->


<!-- Contents -->
<div class="main__contents">

    <!-- Installers -->
    <div class="container">
        <article class="row section border-top">

            <header class="col-12 col-md-4">
                <h3 class="section-title">Installers</h3>
            </header>

            <main class="col-12 col-md-8">
                <div class="row">

                    {% for i in range(0, 6) -%}
                    <div class="col-12 col-lg-6 u_mb-1">
                        <a class="link-circle-w-text" href="#" target="_blank">
                            <div class="circle">
                                {% include 'partials/svg/icon-arrow-down.svg' %}
                            </div>
                            <div class="link-circle-w-text__text">
                                Raspberry Pi <small>(Raspbian)</small>
                            </div>
                        </a>
                    </div>
                    {%- endfor %}

                </div>
            </main>

        </article>
    </div>
    <!-- Installers -->

    <!-- Standalone executables -->
    <div class="container">
        <article class="row section border-top">

            <header class="col-12 col-md-4">
                <h3 class="section-title">Standalone executables</h3>
            </header>

            <main class="col-12 col-md-8">
                <div class="row">

                    {% for i in range(0, 4) -%}
                    <div class="col-12 col-lg-6 u_mb-1">
                        <a class="link-circle-w-text" href="#" target="_blank">
                            <div class="circle">
                                {% include 'partials/svg/icon-arrow-down.svg' %}
                            </div>
                            <div class="link-circle-w-text__text">
                                Linux, 64-bit <small>(deb)</small>
                            </div>
                        </a>
                    </div>
                    {%- endfor %}

                </div>
            </main>

        </article>
    </div>
    <!-- Standalone executables -->
    
    <!-- Precompiled Virtual Machines -->
    <div class="container">
        <article class="row section border-top">

            <header class="col-12 col-md-4">
                <h3 class="section-title">Precompiled Virtual Machines</h3>
            </header>

            <main class="col-12 col-md-8">
                <div class="row">

                    {% for i in range(0, 13) -%}
                    <div class="col-12 col-lg-6 u_mb-1.5">
                        <a class="link-circle-w-text" href="#" target="_blank">
                            <div class="circle">
                                {% include 'partials/svg/icon-arrow-down.svg' %}
                            </div>
                            <div class="link-circle-w-text__text">
                                Adafruit Circuit Playground Express Long Text
                            </div>
                        </a>
                    </div>
                    {%- endfor %}

                </div>
            </main>

        </article>
    </div>
    <!-- Precompiled Virtual Machines -->


</div>
<!-- Contents -->


{% endblock %}