<a class="activity-card" href="#" download>
    <div class="activity-card__picture">
        <img src="assets/img/pictures/activity-card-420x240.jpg" alt="Kid playing with a board">
    </div>
    <div class="activity-card__info">
        <div class="activity-card__text-wrapper">
            <h3 class="activity-card__title">
                Average activity title with a long card name
            </h3>
            <div class="activity-card__requirement">
                Requires something
            </div>
        </div>
        <div class="activity-card__tags-wrapper">
            <div class="activity-card__tag activity-card__tag--board" href="#">
                micro:bit
            </div>
            <div class="activity-card__tag activity-card__tag--level" href="#">
                medium
            </div>
        </div>
    </div>
</a>