<a href="#" class="card-article">

    <div class="card-article__picture-wrapper">
        <picture class="card-article__picture">
            <source media="(min-width: 768px)" srcset="assets/img/pictures/contribute-1920x560.jpg">
            <source media="(max-width: 767px)" srcset="assets/img/pictures/contribute-960x540.jpg">
            <img src="assets/img/picture/contribute-1920x560.jpg" alt="Hands connecting wires to a board" />
        </picture>
        <div class="card-article__read-more" title="Read More">
            <div class="circle circle--purple">
                <img src="assets/img/icons/icon-arrow-right.svg" alt="Link Arrow">
            </div>
        </div>
    </div>
    
    <div class="card-article__content">
        <h3 class="card-article__title">The Robotistan Kickstarter heavily featured MicroBlocks.</h3>
        <date class="card-article__date">May 24th, 2022</date> by <author>Author, Company</author>
    </div>

</a>