<div class="page-learn__cards-list">
</div>
<script>
    readCards(descriptors => {
        renderCards(
            descriptors,
            { language: 'EN', level: 0 },
            document.querySelector('.page-learn__cards-list')
        );
    });
</script>
