<article class="card-article-archive">

    <!-- Date -->
    <time class="card-article-archive__date" datetime="2018-07-07" pubdate="pubdate">May 24th, 2022</time> 
    
    <!-- Text -->
    <div class="card-article-archive__content">
        <a href="/article" class="card-article-archive__link">
            <h2 class="card-article-archive__title">The Robotistan Kickstarter heavily featured MicroBlocks.</h2>
        </a>
        <address class="card-article-archive__credits">
            by <span class="card-article-archive__author">Author</span>, <span class="card-article-archive__organisation">Company</span>
        </address>
    </div>

</article>