{{! Collaborator }}
<div class="col-6 col-md-4 col-xl-3 u_mb-1.5">
    <a class="logo-grid__item" href="{{href}}" target="_blank">
        <div class="logo-grid__logo">
            <img src="{{img}}" alt="{{name}}">
        </div>
    </a>
</div>
