{{! Download Link }}
<div class="col-12 col-lg-6 u_mb-1">
    <a class="link-circle-w-text" href="{{href}}" target="_blank">
        <div class="circle">
            {{> svg.icon-arrow-down }}
        </div>
        <div class="link-circle-w-text__text">
            {{platform}}
        </div>
    </a>
</div>
