<aside class="main__footer colored-section colored-section--yellow">
    <div class="container">
        <div class="row justify-content-md-center">
            <div class="col-12 col-md-10 col-lg-8">
                <div class="colored-section__title">
                    <h2 class="heading-large">
                        Want to know more?<br />
                        Check out our wiki
                    </h2>
                </div>
                <div class="colored-section__contents wysiwyg">
                    <p class="text-md">
                       In the MicroBlocks wiki you will a complete reference manual, including examples for every single command, along with tutorials, hardware information, publications, teaching resources, and technical details galore. 
                    </p>
                    <a class="btn btn--purple" href="https://wiki.microblocks.fun/" target="_blank">Visit our wiki</a>
                </div>
            </div>
        </div>
    </div>
</aside>
