<aside class="main__footer colored-section colored-section--{{#if color}}{{color}}{{else}}yellow{{/if}}">
    <div class="container">
        <div class="row justify-content-md-center">
            <div class="col-12 col-md-10 col-lg-8">
                <div class="colored-section__title">
                    <h2 class="heading-large">
                        Want to know more?<br />
                        Check out our wiki
                    </h2>
                </div>
                <div class="colored-section__contents wysiwyg">
                    <p class="text-md">
                       You will find a complete
a <a href="https://wiki.microblocks.fun/ide" target="_blank">user guide</a>
and <a href="https://wiki.microblocks.fun/reference_manual" target="_blank">blocks reference manual</a> with many examples, along with tutorials, teaching resources,  publications, hardware info, and technical details galore. 
                    </p>
                    <a class="btn btn--purple" href="https://wiki.microblocks.fun/" target="_blank">Visit our wiki</a>
                </div>
            </div>
        </div>
    </div>
</aside>
