<aside class="main__footer colored-section colored-section--{{color}}">
    <div class="container">
        <div class="row justify-content-md-center">
            <div class="col-12 col-md-10 col-lg-8">
                <div class="colored-section__title">
                    <h2 class="block block--purple">感谢 !</h2>
                </div>
                <div class="colored-section__contents wysiwyg">
{{#markdown}}
我们衷心感谢[那些提供翻译、教育材料和资金支持的人](https://wiki.microblocks.fun/contributors)，以及所有使用 MicroBlocks 来激励学生的教育工作者。
{{/markdown}}
                </div>
            </div>
        </div>
    </div>
</aside>
