<aside class="main__footer colored-section colored-section--{{color}}">
    <div class="container">
        <div class="row justify-content-md-center">
            <div class="col-12 col-md-10 col-lg-8">
                <div class="colored-section__title">
                    <h2 class="block block--purple">Thank you!</h2>
                </div>          
                <div class="colored-section__contents wysiwyg">
{{#markdown}}
Our heartfelt thanks to [those who have contributed](wiki.microblocks.fun/contributors) translations, educational materials, or financial support, and to all the educators who are using MicroBlocks to inspire their students.
{{/markdown}}
                </div>          
            </div>
        </div>
    </div>
</aside>
