{{! Page Footer }}

<footer class="footer">
    <div class="container">


        <div class="footer__content row">

            <!-- Logo -->
            <div class="footer__col col-12 col-md-6 col-lg-5 col-xl-3">
                <a class="footer__logo" href="/">
                    <img src="/assets/img/logos/MicroBlocks-white.svg" alt="MicroBlocks">
                </a>
            </div>

            <!-- Contribute -->
            <div class="footer__col col-12 col-md-6 col-lg-5 offset-lg-1 col-xl-3 offset-xl-0">
{{!--                 <h3>Contribute</h3> --}}
                <h3>参与</h3>
                <p>
{{!--                     We are actively searching for <a href="/contribute#translate">translators</a>, <a href="/contribute#content-creation">content creators</a>, <a href="/about#ambassadors">spreading the word</a> and <a href="/contribute#financial-contribution">financial support</a>. --}}
                    我们正积极寻找<a href="/contribute#translate">翻译员</a>、<a href="/contribute#content-creation">内容创作者</a>、<a href="/about#ambassadors">推广者</a>和<a href="/contribute#financial-contribution">资助</a>。
                </p>
            </div>

            <!-- Report an Issue -->
            <div class="footer__col col-12 col-md-6 col-lg-5 col-xl-3">
{{!--                 <h3>Report an Issue</h3> --}}
                <h3>反馈</h3>
                <p>
{{!--                     Report a bug or request a feature on our issue tracker. --}}
                    欢迎在我们的问题跟踪系统上报告漏洞或提出功能需求。
                </p>
                <a class="link-circle-w-text link-circle-w-text--footer"
                    href="https://bitbucket.org/john_maloney/smallvm/issues" target="_blank">
                    <div class="circle">
                        {{> svg.icon-bitbucket }}
                    </div>
                    <div class="link-circle-w-text__text">
{{!--                         BitBucket Repository --}}
                        BitBucket 代码库
                    </div>
                </a>
            </div>

            <!-- Get in Touch -->
            <div class="footer__col col-12 col-md-6 col-lg-5 offset-lg-1 col-xl-3 offset-xl-0">
{{!--                 <h3>Get in Touch</h3> --}}
                <h3>联系我们</h3>
                <p>
{{!--                     Have a question or want to colaborate? Drop us a line! --}}
                    有疑问或有合作意向？请给我们留言。
                </p>
                <a class="link-circle-w-text link-circle-w-text--footer"
                    href="mailto:interest@microblocks.fun" target="_blank">
                    <div class="circle">
                        {{> svg.icon-email }}
                    </div>
                    <div class="link-circle-w-text__text">
{{!--                         interest@microblocks.fun --}}
{{!--                         <p>interest@microblocks.fun（全球）</p> --}}
                        <p>interest@microblocks.fun（全球）</p>

                    </div>
                </a>
                <a class="link-circle-w-text link-circle-w-text--footer"
                    href="mailto:microblocks@aimaker.space" target="_blank">
                    <div class="circle">
                        {{> svg.icon-email }}
                    </div>
                    <div class="link-circle-w-text__text">
{{!--                         interest@microblocks.fun --}}
{{!--                         <p>interest@microblocks.fun（全球）</p> --}}
                        <p>microblocks@aimaker.space</p>
                        <p>（中国）</p>

                    </div>
                </a>
            </div>

        </div>


        <div class="footer__legal row">
            <div class="col-md-10">
                <p>
                    © <span class="year">2022</span> by <a href="https://harc.ycr.org/member/john_maloney/"
                        target="_blank">John Maloney</a>, <a href="https://github.com/jmoenig" target="_blank">Jens
                        Mönig</a> and <a href="http://romagosa.work" target="_blank">Bernat Romagosa</a>.<br />
                    MicroBlocks is <a href="https://bitbucket.org/john_maloney/smallvm" target="_bklank">free
                        software</a>, released under the <a href="https://www.mozilla.org/en-US/MPL/2.0/"
                        target="_blank">Mozilla Public License v2.0</a>.<br />
                        广东英荔国际教育科技有限公司 <a href="https://beian.miit.gov.cn/">粤 ICP 备 13044168 号-9</a>
                </p>
            </div>
        </div>


    </div>
</footer>
