<aside class="main__footer colored-section colored-section--{{#if color}}{{color}}{{else}}yellow{{/if}}">
    <div class="container">
        <div class="row justify-content-md-center">
            <div class="col-12 col-md-10 col-lg-8">
                <div class="colored-section__title">
{{!--                     <h2 class="heading-large"> --}}
{{!--                         Want to know more?<br /> --}}
{{!--                         Check out our wiki --}}
{{!--                     </h2> --}}
                    <h2 class="heading-large">
                        &nbsp;&nbsp;想了解更多吗？<br />
                        请查看维基
                    </h2>
                </div>
                <div class="colored-section__contents wysiwyg">
{{!--                     <p class="text-md"> --}}
{{!--                        You will find a complete --}}
{{!-- a <a href="https://wiki.microblocks.fun/ide" target="_blank">user guide</a> --}}
{{!-- and <a href="https://wiki.microblocks.fun/reference_manual" target="_blank">blocks reference manual</a> with many examples, along with tutorials, teaching resources,  publications, hardware info, and technical details galore.  --}}
{{!--                     </p> --}}
                    <p class="text-md">
                       维基里有完整的<a href="https://wiki.microblocks.fun/ide" target="_blank">用户指南</a>和带有许多例子的<a href="https://wiki.microblocks.fun/reference_manual" target="_blank">积木参考手册</a>，包含教程、教学资源、出版物、硬件信息和技术细节。
                    </p>
{{!--                     <a class="btn btn--purple" href="https://wiki.microblocks.fun/" target="_blank">Visit our wiki</a> --}}
                    <a class="btn btn--purple" href="https://wiki.microblocks.fun/" target="_blank">访问维基</a>
                </div>
            </div>
        </div>
    </div>
</aside>
