<!-- 
---- Header
--->


<header class="header">


  <!-- Logo -->
  <div class="header__logo">
    <a href="index.html">
      <img src="assets/img/logos/MicroBlocks.svg" alt="MicroBlocks">
    </a>
  </div>


  <!-- Menu Toggle -->
  <div class="menu-toggle" id="menu-toggle" role="button" aria-haspopup="true" aria-controls="menu">
    <div class="menu-toggle__icon menu-toggle__icon--show">
      {% include 'partials/svg/icon-show.svg' %}
    </div>
    <div class="menu-toggle__icon menu-toggle__icon--hide">
      {% include 'partials/svg/icon-hide.svg' %}
    </div>
  </div>


  <!-- Menu -->
  <nav class="menu" id="menu" role="menu" aria-labelledby="menu-toggle">

    <div class="menu__logo">
      <a href="index.html">
        <img src="assets/img/logos/MicroBlocks.svg" alt="MicroBlocks">
      </a>
    </div>

    <div class="menu__explain">
      <ul class="menu__links-list">
        <li role="none"><a class="menu__link" role="menuitem" href="what-is-microblocks.html">What is it?</a></li>
        <li role="none"><a class="menu__link" role="menuitem" href="get-started.html">Get Started</a></li>
        <li role="none"><a class="menu__link" role="menuitem" href="learn.html">Learn</a></li>
        <li role="none"><a class="menu__link" role="menuitem" href="contribute.html">Contribute</a></li>
        <li role="none"><a class="menu__link" role="menuitem" href="about.html">About</a></li>
        <li role="none"><a class="menu__link" role="menuitem" href="https://wiki.microblocks.fun/" target="_blank">Wiki</a></li>
      </ul>
    </div>

    <div class="menu__interact">
      <ul class="menu__links-list">
        <li role="none"><a class="menu__link" role="menuitem" href="download.html">Download</a></li>
        <li role="none"><a class="menu__link" role="menuitem" href="http://microblocks.fun/mbrun">Run</a></li>
      </ul>      
    </div>

  </nav>


</header>
