{{! Header }}

<header class="header">


  <!-- Logo -->
  <div class="header__logo">
    <a href="/">
      <img src="/assets/img/logos/MicroBlocks.svg" alt="MicroBlocks">
    </a>
    <div class="header__rosza">
      <img class="header__rosza-bubble" src="/assets/img/graphics/rosza-bubble.svg" alt="Speech Bubble">
      <div class="header__rosza-text">
{{!--         <p> --}}
{{!--           Hello! I’m Rosza!<br /> --}}
{{!--           I was named after a<br /> --}}
{{!--           <a href="https://en.wikipedia.org/wiki/R%C3%B3zsa_P%C3%A9ter" target="_blank">great mathematician</a><br /> --}}
{{!--           Check her out! --}}
{{!--         </p> --}}
        <p>
          你好，我是兔子路莎。<br />
          我跟一位<a href="https://en.wikipedia.org/wiki/R%C3%B3zsa_P%C3%A9ter" target="_blank">伟大的数学家</a><br />
          同名哦，来听听<br />
          她的故事吧！
        </p>
      </div>
    </div>
  </div>


  <!-- Menu Toggle -->
  <div class="menu-toggle" id="menu-toggle" role="button" aria-haspopup="true" aria-controls="menu">
    <div class="menu-toggle__icon menu-toggle__icon--show">
        {{> svg.icon-show }}
    </div>
    <div class="menu-toggle__icon menu-toggle__icon--hide">
        {{> svg.icon-hide }}
    </div>
  </div>


  <!-- Menu -->
  <nav class="menu" id="menu" role="menu" aria-labelledby="menu-toggle">

    <div class="menu__logo">
      <a href="/">
        <img src="/assets/img/logos/MicroBlocks.svg" alt="MicroBlocks">
      </a>
    </div>

    <div class="menu-scroll">

      <div class="menu__explain">
        <ul class="menu__links-list">
{{!--           <li role="none"><a class="menu__link" role="menuitem" href="/what-is-microblocks">What is it?</a></li> --}}
{{!--           <li role="none"><a class="menu__link" role="menuitem" href="/get-started">Get Started</a></li> --}}
{{!--           <li role="none"><a class="menu__link" role="menuitem" href="/learn">Learn</a></li> --}}
{{!--           <li role="none"><a class="menu__link" role="menuitem" href="/contribute">Contribute</a></li> --}}
{{!--           <li role="none"><a class="menu__link" role="menuitem" href="/about">About</a></li> --}}
{{!--           <li role="none"><a class="menu__link" role="menuitem" href="https://wiki.microblocks.fun/" target="_blank">Wiki</a></li> --}}
{{!--           <li role="none"><a class="menu__link" role="menuitem" href="/download">Download</a></li> --}}
          <li role="none"><a class="menu__link" role="menuitem" href="/what-is-microblocks">介绍</a></li>
          <li role="none"><a class="menu__link" role="menuitem" href="/get-started">开始</a></li>
          <li role="none"><a class="menu__link" role="menuitem" href="https://learn.microblocksfun.cn/cn/index">学习</a></li>
          <li role="none"><a class="menu__link" role="menuitem" href="/contribute">贡献</a></li>
          <li role="none"><a class="menu__link" role="menuitem" href="/about">关于</a></li>
          <li role="none"><a class="menu__link" role="menuitem" href="https://github.com/MicroBlocksCN/microblocks-site/wiki" target="_blank">维基</a></li>
          <li role="none"><a class="menu__link" role="menuitem" href="/download">下载</a></li>
          <li role="none"><a class="menu__link" role="menuitem" href="https://github.com/MicroBlocksCN/microblocks-site/discussions" target="_blank">论坛</a></li>

        </ul>
      </div>

      <div class="menu__interact">
        <ul class="menu__links-list clickable" onclick="location='https://microblocksfun.cn/run/microblocks.html'">
{{!--           <li role="none"><a class="menu__link" role="menuitem" href="https://microblocks.fun/run/microblocks.html">Run</a></li> --}}
          <li role="none"><a class="menu__link" role="menuitem" href="/run/microblocks.html">运行</a></li>
        </ul>      
      </div>

    </div>

  </nav>


</header>
