{{! Header }}

<header class="header">


  <!-- Logo -->
  <div class="header__logo">
    <a href="/">
      <img src="/assets/img/logos/MicroBlocks.svg" alt="MicroBlocks">
    </a>
    <div class="header__rosza">
      <img class="header__rosza-bubble" src="/assets/img/graphics/rosza-bubble.svg" alt="Speech Bubble">
      <div class="header__rosza-text">
        <p>
          Hello! I’m Rosza!<br />
          I was named after a<br />
          <a href="https://en.wikipedia.org/wiki/R%C3%B3zsa_P%C3%A9ter" target="_blank">great mathematician</a><br />
          Check her out!
        </p>
      </div>
    </div>
  </div>


  <!-- Menu Toggle -->
  <div class="menu-toggle" id="menu-toggle" role="button" aria-haspopup="true" aria-controls="menu">
    <div class="menu-toggle__icon menu-toggle__icon--show">
        {{> svg.icon-show }}
    </div>
    <div class="menu-toggle__icon menu-toggle__icon--hide">
        {{> svg.icon-hide }}
    </div>
  </div>


  <!-- Menu -->
  <nav class="menu" id="menu" role="menu" aria-labelledby="menu-toggle">

    <div class="menu__logo">
      <a href="/">
        <img src="/assets/img/logos/MicroBlocks.svg" alt="MicroBlocks">
      </a>
    </div>

    <div class="menu-scroll" role="menu">

      <div class="menu__explain">
        <ul class="menu__links-list">
          <li role="none"><a class="menu__link" role="menuitem" href="/what-is-microblocks">What is it?</a></li>
          <li role="none"><a class="menu__link" role="menuitem" href="/get-started">Get Started</a></li>
          <li role="none"><a class="menu__link" role="menuitem" href="https://learn.microblocks.fun">Learn</a></li>
          <li role="none"><a class="menu__link" role="menuitem" href="/contribute">Contribute</a></li>
          <li role="none"><a class="menu__link" role="menuitem" href="/about">About</a></li>
          <li role="none"><a class="menu__link" role="menuitem" href="https://wiki.microblocks.fun/" target="_blank">Wiki</a></li>
          <li role="none"><a class="menu__link" role="menuitem" href="/download">Download</a></li>
          <!-- <li role="none"><a class="menu__link" role="menuitem" href="/blog">Blog</a></li> -->
        </ul>
      </div>

      <div class="menu__interact">
        <a class="menu__link menu__link--run" role="menuitem" target="_blank" href="https://microblocks.fun/run/microblocks.html">Run</a>
      </div>

    </div>

  </nav>


</header>
