<aside class="next-steps">
    <div class="container">

        <div class="row">

            <header class="col-12">
                <h2 class="next-steps__title title-blocks">
                    <span class="block block--orange">Next</span>
                    <span class="block block--purple">Steps</span>
                </h2>
            </header>

        </div>

        <main class="row">

            <!-- Get Started -->
            <div class="col-12 col-md-4">
                <a href="get-started" class="next-steps__link">
                    <div class="next-steps__picture">
                        <img src="assets/img/pictures/next-steps-get-started.png" alt="Browser with the Run icon">
                    </div>
                    <h3 class="next-steps__link-title">
                        Get Started
                    </h3>
                    <div class="next-steps__text">
                        <p>
                            Download the MicroBlocks app for Windows, MacOS, Linux, or Raspberry Pi. You can also get
                            the Chromebook App.
                        </p>
                    </div>
                    <div class="next-steps__circle">
                        <div class="circle circle--large circle--orange">
                            <img src="assets/img/icons/icon-arrow-right.svg" alt="Link Arrow">
                        </div>
                    </div>
                </a>
            </div>

            <!-- Run -->
            <div class="col-12 col-md-4">
                <a href="https://microblocks.fun/run/microblocks.html" class="next-steps__link">
                    <div class="next-steps__picture">
                        <img src="assets/img/pictures/next-steps-run.png" alt="Browser with the Run icon">
                    </div>
                    <h3 class="next-steps__link-title">
                        Run
                    </h3>
                    <div class="next-steps__text">
                        <p>
                            You can also run MicroBlocks in a Chrome or Edge browser without installing anything.
                        </p>
                    </div>
                    <div class="next-steps__circle">
                        <div class="circle circle--large circle--teal">
                            <img src="assets/img/icons/icon-arrow-right.svg" alt="Link Arrow">
                        </div>
                    </div>
                </a>
            </div>

            <!-- learn -->
            <div class="col-12 col-md-4">
                <a href="learn" class="next-steps__link">
                    <div class="next-steps__picture">
                        <img src="assets/img/pictures/next-steps-learn.png" alt="Browser with the Run icon">
                    </div>
                    <h3 class="next-steps__link-title">
                        Learn
                    </h3>
                    <div class="next-steps__text">
                        <p>
                            Visit the Learn section to find activity cards that will help you get started and explore
                            projects involving animation, LEDs, etc.
                        </p>
                    </div>
                    <div class="next-steps__circle">
                        <div class="circle circle--large circle--purple">
                            <img src="assets/img/icons/icon-arrow-right.svg" alt="Link Arrow">
                        </div>
                    </div>
                </a>
            </div>

        </main>

    </div>
</aside>
