<aside class="next-steps">

    <div class="container">
        <div class="row">
            <div class="col-12">

                <header>
                    <h2 class="next-steps__title title-blocks">
                        <span class="block block--orange">Next</span>
                        <span class="block block--purple">Steps</span>
                    </h2>
                </header>

                <main class="next-steps__cards-wrapper">

                    <!-- Get Started -->
                    <a href="get-started" class="next-steps__link">
                        <div class="next-steps__contents">
                            <div class="next-steps__picture">
                                <img src="assets/img/next-steps/next-steps-get-started.png" alt="Browser with the Run icon">
                            </div>
                            <h3 class="next-steps__link-title">
                                Get Started
                            </h3>
                            <div class="next-steps__text">
                                <p>
                                    The Get Started page will help you set up your computer and board to run MicroBlocks.
                                </p>
                            </div>
                        </div>
                        <div class="next-steps__circle">
                            <div class="circle circle--large circle--orange">
                                <img src="assets/img/icons/icon-arrow-right.svg" alt="Link Arrow">
                            </div>
                        </div>
                    </a>

                    <!-- Run -->
                    <a href="https://microblocks.fun/run/microblocks.html" class="next-steps__link">
                        <div class="next-steps__contents">
                            <div class="next-steps__picture">
                                <img src="assets/img/next-steps/next-steps-run.png" alt="Browser with the Run icon">
                            </div>
                            <h3 class="next-steps__link-title">
                                Run
                            </h3>
                            <div class="next-steps__text">
                                <p>
                                    Run MicroBlocks in a Chrome or Edge browser without installing anything.
                                </p>
                            </div>
                        </div>
                        <div class="next-steps__circle">
                            <div class="circle circle--large circle--teal">
                                <img src="assets/img/icons/icon-arrow-right.svg" alt="Link Arrow">
                            </div>
                        </div>
                    </a>

                    <!-- learn -->
                    <a href="learn" class="next-steps__link">
                        <div class="next-steps__contents">
                            <div class="next-steps__picture">
                                <img src="assets/img/next-steps/next-steps-learn.png" alt="Browser with the Run icon">
                            </div>
                            <h3 class="next-steps__link-title">
                                Learn
                            </h3>
                            <div class="next-steps__text">
                                <p>
                                    The Learn page has activity cards exploring
                                    animation, sound, sensors, and many other topics.
                                </p>
                            </div>
                        </div>
                        <div class="next-steps__circle">
                            <div class="circle circle--large circle--purple">
                                <img src="assets/img/icons/icon-arrow-right.svg" alt="Link Arrow">
                            </div>
                        </div>
                    </a>

                </main>

            </div>
        </div>
    </div>

</aside>
