// ==========================================================================
// Utilities / Layout
// ==========================================================================

.u_flex-between {
  display: flex;
  justify-content: space-between;
}


// Margins
// ==================================================

.u_mb-0\.5 {
  margin-bottom: 0.5rem;
}

.u_mb-1 {
  margin-bottom: 1rem;
}

.u_mb-1\.5 {
  margin-bottom: 1.5rem;
}

.u_mb-2 {
  margin-bottom: 2rem;
}

.u_mb-4 {
  margin-bottom: 4rem;
}

.u_lg\:mb-0 {
  @include breakpoint(lg) {
    margin-bottom: 0 !important;
  }
}