// ==========================================================================
// Templates / Blog
// ==========================================================================


// Header
// ========================================


.page-blog__header {
    margin: 64px 0 16px 0;
    
    @include mq(lg) {
        position: relative;
        z-index: 1;
        margin: 80px 0 -56px 0;
    }
}


.page-blog__title {
    transform: rotate(-1deg);
}





// Featured Article
// ========================================


.page-blog__article-featured {
    margin-bottom: 40px;

    @include mq(lg) {
        margin-bottom: 60px;
    }
}





// Articles Grid
// ========================================


.page-blog__articles-title {
    margin-bottom: 32px;
    padding-top: 8px;
    @include border-top-small($color-black-300);
  
    @include font-display-regular;
    color: $color-black-700;
    font-size: 14px;
    text-transform: uppercase;
    letter-spacing: 0.05em;
}


.page-blog__articles-grid {
    margin-bottom: 48px;
    display: grid;
    row-gap: 40px;

    @include mq(md) {
        margin-bottom: 60px;
        grid-template-columns: repeat(2, 1fr);
        column-gap: 32px;
    }

    @include mq(lg) {
        grid-template-columns: repeat(3, 1fr);
    }
}





// Bottom elements
// ========================================


.page-blog__pagination {
    margin-bottom: 32px;

    display: flex;
    justify-content: center;
}


.page-blog__view-all {
    margin-bottom: 32px;

    display: flex;
    justify-content: center;
}