// ==================================================
// Components / Home
// ==================================================


// Hero fields
// ==================================================

.page-home__cta {
  color: $color-white;
  padding: 0 0 2rem 0;
}

.page-home__cta__title {
  font-size: 1.25rem;
  margin: 0 0 0.5rem;
}

.page-home__cta__anchor {
  display: flex;
  justify-content: space-between;
  padding: 1rem 1.25rem;
  margin: 0 0 0.5rem;

  @include font-bold;
  font-size: 1.5rem;
  line-height: 1.15;
  color: $color-black;
  background-color: $color-white;

  transition: all 0.2s ease-out;

  span {
    @include font-regular;
  }

  &__text {
    flex-grow: 1;
  }

  &__icon {
    flex-grow: 0;
  }

  &:hover {
    color: $color-white;
    background-color: $color-black;
  }
}

.page-home__cta__legend {
  padding: 0 0.25rem 0;
}




// Home / Intro
// ==================================================

.page-home__intro {
  margin: 0 0 6rem;
}

.page-home__update {
  margin: 0 0 4rem 0;

  &__contents {
    margin: 0 0 2rem 0;

    font-size: 1.5rem;

    a:link,
    a:visited {
      color: $color-green;
      //text-decoration: underline;
      transition: all 0.2s ease-out;
    }

    a:hover {
      color: $color-black;
    }
  }

  @include mq(md) {
    margin: 0;
  }
}


// Home / Featured
// ==================================================

.page-home__featured {

  &__title {
    margin: 0 0 1rem 0;
    @include font-bold;
    font-size: 1.5rem;

    span {
      color: $color-green;
    }
  }

  &__text {
    margin: 0 0 1rem 0;
    font-size: 1.125rem;

    p:first-of-type {
      margin: 0 0 1.25rem 0;
    }
  }
}


// Home / Subscribe
// ==================================================

.page-home__subscribe {
  margin: 0 0 8rem 0;

  @include mq(md) {
    margin: 0 0 6rem 0;
  }
}


// Home / Accredited
// ==================================================

.page-home__accredited__wrapper {

  @include mq(md) {
    display: flex;
    align-items: center;
  }
}

.page-home__accredited__image {
  padding: 1rem;
  margin: 0 0 2rem;

  @include mq(md) {
    width: 30%;
    padding: 0;
    margin: 0;
  }
}

.page-home__accredited__text {

  p:first-of-type {
    margin: 0 0 1.25rem 0;
  }

  @include mq(md) {
    padding: 0 0 0 2rem;
    width: 70%;
  }
}
