// ==================================================
// Elements / Link text
// ==================================================

.link-text {
  color: $color-green;
  transition: all 0.2s ease-out;
  text-decoration: underline;

  &:hover {
    //border-bottom: 2px solid $color-green;
    color: $color-black;
  }
}
