// ==========================================================================
// Settings / Config / Colors
// ==========================================================================


// Palette
// ==========================================================================

$color-white: #FFFFFF;
$color-grey-light: #ececec;
$color-grey: #828282;
$color-black: #00245A;

$color-green-light: #A3DAD0;
$color-green: #21B3A0;
$color-green-approval: #008000;
$color-red: #BB0000;


// Specific
// ==========================================================================

$color-background: #F8F8F8;





// Link
$link-color:       #1A0DAB;
$link-focus-color: #1A0DAB;
$link-hover-color: darken(#1A0DAB, 10%);
// Selection
$selection-text-color:       #3297FD;
$selection-background-color: #FFFFFF;

// Social Colors
// ==========================================================================
$facebook-color:  #3B5998;
$instagram-color: #E1306C;
$youtube-color:   #CD201F;
$twitter-color:   #1DA1F2;
