// ==========================================================================
// Settings / Config
// ==========================================================================



// CSS Variables
// ==========================================================================

:root {
  --bs-gutter-x: 0.75rem;
  // Bootstrap grid side margin
  // Inner gutter is defined at bootstrap's .row
}



// z-Index
// ==========================================================================

$zindex-menu-toggle: 1000;
$zindex-menu-on-top: 91; // hacks
$zindex-menu: 90;
$zindex-modals: 80;
$zindex-content-layer: 5;
$zindex-hero: -1;
$zindex-above: -1;



// Breakpoints
// ==========================================================================

$breakpoints: (
  xs: 0,
  sm: 576px,
  md: 768px,
  lg: 992px,
  xl: 1200px,
  xxl: 1400px
);



// Global units and variables
// ==========================================================================

$border-radius-global: 4px;