// ==========================================================================
// Settings / Config / Colors
// ==========================================================================


// Palette
// ==========================================================================

$color-white: #FFFFFF;
$color-black: #2C2C2C; // black-500
$color-black-400: #BDBDBD;

$color-yellow: #FED722;
$color-yellow-dark: #FBC227;



$color-grey-light: #ececec;
$color-grey: #828282;



// Specific
// ==========================================================================

$color-background: #F8F8F8;
