// ==========================================================================
// Tools / Block Connector
// ==========================================================================


@mixin block-connector {

    position: relative;
    
    &::after {
        display: block;
        content: '';
    
        width: 16px;
        height: 16px;
        position: absolute;
        bottom: -4px;
        left: 8px;
    
        background-color: inherit;
        
        transform: rotate(45deg);
        border-radius: 2px;
    }
}
