// ==========================================================================
// Tools / Font Faces
// ==========================================================================



// Space Grotesk

@font-face {
    font-family: "Space Grotesk";
    src: url("../fonts/SpaceGrotesk-Bold.woff2") format("woff2"),
         url("../fonts/SpaceGrotesk-Bold.ttf") format("truetype"),
         url("../fonts/SpaceGrotesk-Bold.otf") format("opentype");
    font-weight: 700;
    font-style: normal;
}



// Inter

@font-face {
    font-family: "Inter";
    src: url("../fonts/Inter-Regular.woff2") format("woff2"),
         url("../fonts/Inter-Regular.woff") format("woff"),
         url("../fonts/Inter-Regular.otf") format("opentype");
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: "Inter";
    src: url("../fonts/Inter-Italic.woff2") format("woff2"),
         url("../fonts/Inter-Italic.woff") format("woff"),
         url("../fonts/Inter-Italic.otf") format("opentype");
    font-weight: 400;
    font-style: italic;
}

@font-face {
    font-family: "Inter";
    src: url("../fonts/Inter-Bold.woff2") format("woff2"),
         url("../fonts/Inter-Bold.woff") format("woff"),
         url("../fonts/Inter-Bold.otf") format("opentype");
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: "Inter";
    src: url("../fonts/Inter-BoldItalic.woff2") format("woff2"),
         url("../fonts/Inter-BoldItalic.woff") format("woff"),
         url("../fonts/Inter-BoldItalic.otf") format("opentype");
    font-weight: 700;
    font-style: italic;
}



// Sass Vars

$font-display: "Space Grotesk", Helvetica, Arial, sans-serif;
$font-regular: "Inter", Helvetica, Arial, sans-serif;



// Mixins

@mixin font-display-bold {
    font-family: $font-display;
    font-weight: 700;
    font-style: normal;
}

@mixin font-regular {
    font-family: $font-regular;
    font-weight: 400;
    font-style: normal;
}

@mixin font-regular-italic {
    font-family: $font-regular;
    font-weight: 400;
    font-style: italic;
}

@mixin font-regular-bold {
    font-family: $font-regular;
    font-weight: 700;
    font-style: normal;
}

@mixin font-regular-bold-italic {
    font-family: $font-regular;
    font-weight: 700;
    font-style: italic;
}





