// ==================================================
// Base / Forms
// ==================================================


.page-report .row {
  --bs-gutter-x: 2rem;
}

.page-report .box-white {

  @include mq(lg) {
    padding: 2rem;
  }
}



// Label
// ==================================================

/* .form .label, */
form label {
  display: block;
  margin: 0 0 0.25rem 0;
  @include font-bold;
  line-height: 1;
}

.label--large {
  font-size: 1.25rem;
  margin: 0 0 0.5rem 0;

  @include mq(lg) {
    font-size: 1.65rem;
    margin: 0 0 0.75rem 0;
  }
}



// Inputs
// ==================================================

.form-control {
  padding: 0.75rem 0.75rem;
  margin-bottom: 0.75rem;

  background-color: $color-white;
  background-color: $color-grey-light;
  border: 1px solid $color-black;

  font-size: 1.25rem;
}

.form-control:focus {
  background-color: $color-grey-light;
  border: 1px solid $color-green;
  outline: 2px solid $color-green;
}


// Select

select.form-control {
  background-image: url("data:image/svg+xml;utf8,<svg width='12' height='9' viewBox='0 0 12 9' fill='%2300245A' xmlns='http://www.w3.org/2000/svg'><path d='M6.04994 9L0.853789 9.08524e-07L11.2461 0L6.04994 9Z'/></svg>");
  background-repeat: no-repeat;
  background-position: right 10px center;
}


// Radios

input[type=radio].form-check-input {
  position: relative;
  width: 1rem;
  height: 1rem;
  background-color: $color-white; // ?
  background-color: $color-grey-light;
  border: 1px solid $color-black;
  border-radius: 50%;
  cursor: pointer;
}

input[type=radio].form-check-input:focus {
  background-color: $color-grey-light;
  border: 1px solid $color-black;
  outline: 2px solid $color-black;
}

input[type=radio].form-check-input:checked::before {
  content: '';
  display: block;
  width: 10px;
  height: 10px;
  background-color: #00245A;
  border: 1px solid #00245A;
  border-radius: 50%;
  top: 2px;
  left: 2px;
  position: absolute;
}


// Checkboxes

.form-check {
  display: flex;
  margin-bottom: 0.35rem;

  .form-check-input {
    margin-right: 0.35rem;
  }
}

input[type=checkbox].form-check-input {
  position: relative;
  width: 1rem;
  height: 1rem;
  background-color: $color-white; // ?
  background-color: $color-grey-light;
  border: 1px solid $color-black;
  cursor: pointer;
}

input[type=checkbox].form-check-input:focus {
  background-color: $color-grey-light;
  border: 1px solid $color-black;
  outline: 2px solid $color-black;
}

input[type=checkbox].form-check-input:checked {
  background-image: url("data:image/svg+xml;utf8,<svg width='17' height='17' viewBox='0 0 17 17' fill='%2300245A' xmlns='http://www.w3.org/2000/svg'><path d='M1.717.76l6.396 6.396L14.51.76l1.604 1.604L9.717 8.76l6.396 6.396-1.604 1.604-6.396-6.396-6.396 6.396-1.604-1.604L6.51 8.76.113 2.364 1.717.76z'/></svg>");
  background-repeat: no-repeat;
  background-position: center center;
}


// Check and Radio Layouts

.form-check-inline {
  display: inline-flex;
  align-items: center;
  margin-right: 1rem;

  &:last-of-type {
    margin-right: 0;
  }

  .form-check-input {
    margin-right: 0.35rem;
  }

  label {
    margin: 0;
    padding-top: 0.15rem;
  }
}



// Layout
// ==================================================

.form-group {
  margin-bottom: 0.5rem;
}



// Text Styles
// ==================================================

.text-form-block-title {
  @include font-bold;
  font-size: 1.5rem;
  line-height: 1.5rem;
  color: $color-green;
  margin-bottom: 1rem;


  &--inline {

    @include mq(lg) {
      text-align: right;
      margin-bottom: 0;
    }
  }
}


.text-muted {
  font-size: 0.875rem;
  color: $color-grey;
}

.text-small {
  @include font-regular;
  font-size: 0.75rem;
  color: $color-black;

  @include mq(md) {
    font-size: 0.875rem;
  }
}



// Temp utilities
// ==================================================

.u_mt-1 {
  margin-top: 1rem;
}

.u_mt-2 {
  margin-top: 2rem;
}

.u_mt-4 {
  margin-top: 4rem;
}

.u_inline-block {
  display: inline-block;
}

.u_h-32px {
  // 2 text lines height in tablet+
  height: 2rem;
}

.u_h-md-32px {
  // 2 text lines height in tablet+
  @include mq(md) {
    height: 2rem;
  }
}

.u_h-lg-32px {
  // 2 text lines height in tablet+
  @include mq(lg) {
    height: 2rem;
  }
}

.u_h-xl-auto {
  // 2 text lines height in tablet+
  @include mq(xl) {
    height: auto;
  }
}



// Form Row
// ==================================================

.form-row {
  margin: 0 0 1rem 0;

  .label {
    display: block;
    margin: 0 0 0.25rem 0;
  }
}

.form-row--text-n-button {
  display: flex;
  justify-content: space-between;

  & > *:first-child {
    margin: 0 2rem 0 0;
    flex-shrink: 1;
  }
}



// Form Group
// ==================================================

.form-group--inline {

  @include mq(md) {
    display: flex;

    .label {
      flex-shrink: 0;
      width: 8rem;
      padding: 0.75rem 0.25rem 0.75rem 0;
      font-size: 1.125rem;
    }
  }
}

.form-actions--align-center-labeled {

  display: flex;
  justify-content: center;

  @include mq(md) {
    padding: 0 0 0 8rem;
  }
}



// Layout
// ==================================================

.form--center {
  text-align: center;

  .input {
    text-align: center;
  }
}



// Chosen
// ==================================================

form .chosen-container-single .chosen-single {

  // Overrides
  height: auto;
  border-radius: 0;
  box-shadow: none;
  background-image: none;
  box-shadow: none;

  div {
    display: none;
  }

  // Proper Styles

  padding: 0.75rem 0.75rem;
  //margin-bottom: 0.75rem;

  background-color: $color-white;
  background-color: $color-grey-light;
  border: 1px solid $color-black;

  font-size: 1.25rem;

  background-image: url("data:image/svg+xml;utf8,<svg width='12' height='9' viewBox='0 0 12 9' fill='%2300245A' xmlns='http://www.w3.org/2000/svg'><path d='M6.04994 9L0.853789 9.08524e-07L11.2461 0L6.04994 9Z'/></svg>");
  background-repeat: no-repeat;
  background-position: right 10px center;
}

form .chosen-container-single .chosen-drop {
  border-radius: 0;
  border: 1px solid $color-black;
}

form .chosen-container-active.chosen-with-drop .chosen-single {
  border: 1px solid $color-black;
}

form .chosen-container-single .chosen-results .highlighted {
  background-color: $color-green;
}



// Datepicker
// ==================================================


.ui-datepicker select.ui-datepicker-month,
.ui-datepicker select.ui-datepicker-year {
  display: inline-block;
  border: 1px solid $color-black;
  margin: 0 0.25rem !important;
  padding: 0.15rem 0.25rem !important;
  cursor: pointer;
}



// User forms: Signup, login, ...
// ==================================================


.user-forms label {
  display: block;
  margin: 0 0 0.25rem 0;
  //text-align: center;
}


.user-forms input {
  padding: 0.75rem 0.75rem;
  margin-bottom: 0.25rem;
  background-color: #ececec;
  border: 1px solid #00245A;
  font-size: 1.25rem;

  &.btn {
    background-color: $color-black;
  }
}


.user-forms input[type=checkbox] {
  width: auto;
  //margin: 0 auto 0.25rem auto;

  &:checked {
    background-image: url("data:image/svg+xml;utf8,<svg width='17' height='17' viewBox='0 0 17 17' fill='%2300245A' xmlns='http://www.w3.org/2000/svg'><path d='M1.717.76l6.396 6.396L14.51.76l1.604 1.604L9.717 8.76l6.396 6.396-1.604 1.604-6.396-6.396-6.396 6.396-1.604-1.604L6.51 8.76.113 2.364 1.717.76z'/></svg>");
    background-repeat: no-repeat;
    background-position: center center;
  }
}



.user-forms select {
  padding: 0.75rem 0.75rem;
  margin-bottom: 0.75rem;

  border: 1px solid $color-black;
  font-size: 1.25rem;

  background-color: #ececec;
  background-image: url("data:image/svg+xml;utf8,<svg width='12' height='9' viewBox='0 0 12 9' fill='%2300245A' xmlns='http://www.w3.org/2000/svg'><path d='M6.04994 9L0.853789 9.08524e-07L11.2461 0L6.04994 9Z'/></svg>");
  background-repeat: no-repeat;
  background-position: right 10px center;
}


.user-forms input:focus,
.user-forms select:focus {
  background-color: $color-grey-light;
  border: 1px solid $color-green;
  outline: 2px solid $color-green;
}


.user-forms small {
  display: block;
  margin: 0 0 0.25rem 0;
  //text-align: center;
  color: $color-grey;
  font-size: 0.875rem;

  &.alert-danger {
    color: red;
  }
}


.user-forms__links {
  padding: 1rem 0 0 0;
  text-align: center;
  line-height: 1.5;
}


