// ==================================================
// Base / Tables
// ==================================================


.form-table {
  min-width: 100%;
  background-color: $color-white;
  @include shadow-light;
}


.form-table tbody tr {
  border-bottom: 1px solid $color-grey-light;

  transition: all 0.2s ease-out;

  &:hover {
    background-color: $color-grey-light;
    background-color: #f7f7f7;
  }

  &:first-child td {
    padding-top: 1.75rem;
  }

  &:last-child td {
    padding-bottom: 1.75rem;
  }
}


.form-table tr th {
  padding: 1rem 0.5rem;
  text-align: center;
  color: $color-white;
  background-color: $color-black;

  @include font-regular;

  position: sticky;
  top: 0;

  &:nth-of-type(1),
  &:nth-of-type(5) {
    @include mq(lg) {
      width: 10%;
    }
  }

  &:nth-of-type(2),
  &:nth-of-type(3) {
    @include mq(lg) {
      width: 30%;
    }
  }

  &:nth-of-type(4) {
    @include mq(lg) {
      width: 20%;
    }
  }
}


.form-table tr td {
  padding: 1rem 0.5rem;
  text-align: center;
}


// Elements' styles
// ==================================================

.form-table__view a:link,
.form-table__view a:visited {
  display: flex;
  width: 2rem;
  height: 2rem;
  margin: auto;

  justify-content: center;
  align-items: center;
  border-radius: 50%;

  color: $color-black;
  background-color: $color-grey-light;
  transition: all 0.3s ease-in-out;

  .form-table__view__check {
    display: none;
  }

  svg  {
    color: $color-black;
    transition: all 0.3s ease-in-out;
  }
}

.form-table__view a:visited {
  background-color: $color-black;

  svg  {
    color: $color-white;
  }
}

.form-table__view a:hover {
  background-color: $color-green;

  svg  {
    color: $color-white;
  }
}



/* .form-table__view a:visited {
  background-color: $color-green;

  & > * {
    display: none;
  }

  .form-table__view__eye {
    display: none;
  }

  .form-table__view__check {
    display: block;
  }

  div {
    //display: none !important;
  }
} */

.form-table__view a:visited * {
  display: none;
  background-color: $color-green;
}




.form-table__medication {
  @include font-bold;
  color: $color-black;
  transition: all 0.25s ease-in-out;

  &:hover {
    color: $color-green;
  }
}

.form-table__outcome {

  &--no-unwanted {
    color: green;
  }

  &--loss-efficacy {
    color: red;
  }
}
